{% extends "home/base.html" %}

{% block conteudo %}

    <section class="principal">

        <div class="link-conteudo">
            <div class="titulo">
                <h1>Calculos</h1>
            </div>

            <div class="link-conteudo">
                <div class="grid-simples">
                    {% for home_link in home_links %}
                        {% if home_link.tamanho_botao == 'consultoria' %}
                            {% if home_link.link_externo %}
                                <a href="{{ home_link.url_externo }}">
                            {% else %}
                                <a href="{% url "home:home_link" home_link.slug %}">
                            {% endif %}
                                    <div class="botao-div">
                                        <p>{{ home_link.titulo }}</p>
                                    </div>
                                </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            {% for home_link in home_links %}
                {% if home_link.url_externo == 'consultoria-vendas/' %}

                    <div class="titulo">
                        <h1>Consultoria de Vendas</h1>
                    </div>

                    <div class="link-conteudo">
                        {{ home_link.conteudo | safe }}
                    </div>

                    {% if home_link.homelinksdocumentos_set.all %}
                        <div class="link-conteudo">
                            <div class="grid-simples">
                                {% for documento in home_link.homelinksdocumentos_set.all %}
                                    <a target="_blanck" href="{{ documento.documento.url }}"><div class="botao-div">{{ documento.nome }}</div></a>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}

                {% endif %}
            {% endfor %}

        </div>

    </section>

{% endblock conteudo %}