{% extends "home/base.html" %}

{% block conteudo %}

    <section class="principal">

        {% for home_link in home_links %}
            {% if home_link.tamanho_botao == 'comunicado' %}
                <div class="grid grid-icones-comunicados">
                    <div class="icones icones-comunicados">
                        <img loading="lazy" src="{{ home_link.imagem_capa.url }}">
                    </div>
                </div>
            {% endif %}
        {% endfor %}

        <div class="grid grid-icones-pequenos">
            {% for home_link in home_links %}
                {% if home_link.tamanho_botao == 'pequeno' %}
                    <div class="icones icones-pequenos">
                        {% if home_link.link_externo %}
                            <a href="{{ home_link.url_externo }}">
                        {% else %}
                            <a href="{% url "home:home_link" home_link.slug %}">
                        {% endif %}
                                    <img loading="lazy" src="{{ home_link.imagem_capa.url }}">
                            </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <div class="grid grid-icones-medios">
            {% for home_link in home_links %}
                {% if home_link.tamanho_botao == 'medio' %}
                     <div class="icones icones-medios">
                        {% if home_link.link_externo %}
                            <a href="{{ home_link.url_externo }}">
                        {% else %}
                            <a href="{% url "home:home_link" home_link.slug %}">
                        {% endif %}
                                <img loading="lazy" src="{{ home_link.imagem_capa.url }}">
                            </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <div class="grid grid-icones-grandes">
            {% for home_link in home_links %}
                {% if home_link.tamanho_botao == 'grande' %}
                    <div class="icones icones-grandes">
                        {% if home_link.link_externo %}
                            <a href="{{ home_link.url_externo }}">
                        {% else %}
                            <a href="{% url "home:home_link" home_link.slug %}">
                        {% endif %}
                                <div class="icones-grandes-imagem">
                                    <img loading="lazy" src="{{ home_link.imagem_capa.url }}">
                                </div>
                                <div class="icones-grandes-texto">
                                    <p>{{ home_link.titulo }}</p>
                                </div>
                            </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

    </section>

{% endblock conteudo %}