{% extends "home/base.html" %}

{% block conteudo %}

    <section class="principal">

        <div class="titulo">
            <h1>{{ titulo_pagina }}</h1>
        </div>

        <div class="link-conteudo">
            <div class="grid-simples">
                <form method="POST" action="{% url "home:migracao" %}">
                    {% csrf_token %}
                    {{ formulario_migrar_cidades.as_p }}
                    <button id="migrar-cidades" name="cidades-submit" onclick="mudarTextoCidades()" class="botao" type="submit">Atualizar Cadastro de Estados, Cidades e Regiões</button>
                    {% if messages %}
                        {% for mensagem in messages %}
                            {% if 'cidades' in mensagem.tags %}
                                <p>{{ mensagem }}</p>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </form>
            </div>
        </div>

        <div class="link-conteudo">
            <div class="grid-simples">
                <form method="POST" action="{% url "home:migracao" %}">
                    {% csrf_token %}
                    {{ formulario_migrar_produtos.as_p }}
                    <button id="migrar-produtos" name="produtos-submit" onclick="mudarTextoProdutos()" class="botao" type="submit">Atualizar Cadastro de Produtos e Unidades</button>
                    {% if messages %}
                        {% for mensagem in messages %}
                            {% if 'produtos' in mensagem.tags %}
                                <p>{{ mensagem }}</p>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </form>
            </div>
        </div>

        <div class="link-conteudo">
            <div class="grid-simples">
                <form method="POST" action="{% url "home:migracao" %}">
                    {% csrf_token %}
                    {{ formulario_migrar_unidades.as_p }}
                    <button id="migrar-unidades" name="unidades-submit" onclick="mudarTextoUnidades()" class="botao" type="submit">Atualizar Cadastro de Unidades</button>
                    {% if messages %}
                        {% for mensagem in messages %}
                            {% if 'unidades' in mensagem.tags %}
                                <p>{{ mensagem }}</p>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </form>
            </div>
        </div>

        <div class="link-conteudo">
            <div class="grid-simples">
                <form method="POST" action="{% url "home:migracao" %}">
                    {% csrf_token %}
                    {{ formulario_migrar_vendedores.as_p }}
                    <button id="migrar-vendedores" name="vendedores-submit" onclick="mudarTextoVendedores()" class="botao" type="submit">Atualizar Cadastro de Canais de Vendas e Vendedores</button>
                    {% if messages %}
                        {% for mensagem in messages %}
                            {% if 'vendedores' in mensagem.tags %}
                                <p>{{ mensagem }}</p>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </form>
            </div>
        </div>

        <div class="link-conteudo">
            <div class="grid-simples">
                <form method="POST" action="{% url "home:migracao" %}">
                    {% csrf_token %}
                    {{ formulario_migrar_comissoes.as_p }}
                    <p class="fonte-vermelho">ATENÇÃO: Serão excluidas todas as comissões atuais</p>
                    <button id="migrar-comissoes" name="comissoes-submit" onclick="mudarTextoComissoes()" class="botao" type="submit">Importar Comissões</button>
                    {% if messages %}
                        {% for mensagem in messages %}
                            {% if 'comissoes' in mensagem.tags %}
                                <p>{{ mensagem }}</p>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </form>
            </div>
        </div>

    </section>

    <script>
        function mudarTextoCidades() {
            var checkbox = document.getElementById("confirma-migrar-cidades");
            var button = document.getElementById("migrar-cidades");
            if (checkbox.checked) {
                button.innerText = "Aguarde...";
            }
        }

        function mudarTextoProdutos() {
            var checkbox = document.getElementById("confirma-migrar-produtos");
            var button = document.getElementById("migrar-produtos");
            if (checkbox.checked) {
                button.innerText = "Aguarde...";
            }
        }

        function mudarTextoUnidades() {
            var checkbox = document.getElementById("confirma-migrar-unidades");
            var button = document.getElementById("migrar-unidades");
            if (checkbox.checked) {
                button.innerText = "Aguarde...";
            }
        }

        function mudarTextoVendedores() {
            var checkbox = document.getElementById("confirma-migrar-vendedores");
            var button = document.getElementById("migrar-vendedores");
            if (checkbox.checked) {
                button.innerText = "Aguarde...";
            }
        }

        function mudarTextoComissoes() {
            var checkbox = document.getElementById("confirma-migrar-comissoes");
            var button = document.getElementById("migrar-comissoes");
            if (checkbox.checked) {
                button.innerText = "Aguarde...";
            }
        }
    </script>

{% endblock conteudo %}