{% extends "home/base.html" %}

{% block conteudo %}

    <section class="principal">

        <div class="flex">
            <div class="titulo">
                <h1>{{ produtos_modelo.descricao }}</h1>
            </div>

            {% if produtos_modelo.imagem %}
                <div>
                    <img loading="lazy" src="{{ produtos_modelo.imagem.url }}">
                </div>
            {% endif %}
        </div>

        {% if produtos_modelo.url_site %}
            <div class="link-conteudo alinhar-esquerda">
                <div class="grid-simples" style="margin: 0;">
                    <a id="link" href="{{ produtos_modelo.url_site }}" target="_blank">
                        <h2 class="titulo-2 fonte-verde">Link do Site</h2>
                    </a>
                    <p id="copiar" class="cursor-pointer" onclick="copiarLink()">Copiar Link</p>
                </div>
            </div>
        {% endif %}

        {% if produtos_modelo.produtosmodelostopicos.all %}
            {% for topico in produtos_modelo.produtosmodelostopicos.all %}
                <div class="link-conteudo">
                    <div class="alinhar-esquerda">
                        <h2 class="titulo-2 fonte-verde">{{ topico.titulo }}</h2>
                        <p>{{ topico.conteudo | safe }}</p>
                    </div>
                </div>
            {% endfor %}
        {% endif %}

        {% if produtos_modelo.produtos.all %}
            <div class="link-conteudo">
                <div class="alinhar-esquerda">
                    <h2 class="titulo-2 fonte-verde">Medidas</h2>
                    {% for produto in produtos_modelo.produtos.all %}
                        <p>{{ produto.nome }} - {{ produto.descricao }}</p>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% if produtos_modelo.tags %}
            <div class="link-conteudo grid">
                {% for tags in produtos_modelo.tags.all %}
                    <a href="{% url "home:produtos-modelos" %}?pesquisar={{ tags.descricao }}">
                        <div class="tag">{{ tags.descricao }}</div>
                    </a>
                {% endfor %}
            </div>
        {% endif %}

        {% if sugestoes %}
            <div class="link-conteudo alinhar-esquerda">
                <h2 class="titulo-2 fonte-verde">Sugestões</h2>
                <div class="grid">
                    {% for sugestao in sugestoes %}
                        <div class="botao-div-2">
                            <div>
                                <a href="{% url "home:produtos-modelo" sugestao.id %}">
                                    {% if sugestao.imagem %}
                                        <div>
                                            <img loading="lazy" src="{{ sugestao.imagem.url }}">
                                        </div>
                                    {% endif %}
                                    <div>
                                        {{ sugestao.descricao }}
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

    </section>

    <a href="{% url "home:produtos-modelos" %}"><div class="botao-div voltar">⇦</div></a>

    <script>
        {% comment %} function copiarLink() {
            var copiar = document.getElementById("link");
            navigator.clipboard.writeText(copiar.href);
            var copiado = document.getElementById("copiar");
            copiado.innerText = "Copiar Link - Copiado!"
          } {% endcomment %}

          function copiarLink() {
            const link = "{{ produtos_modelo.url_site }}";
            
            const textarea = document.createElement('textarea');
            textarea.value = link;
            document.body.appendChild(textarea);
            textarea.select();
            document.execCommand('copy');
            document.body.removeChild(textarea);

            alert('Copiado: ' + link);
        }
    </script>

{% endblock conteudo %}