{% extends "home/base.html" %}

{% block conteudo %}

    <section class="principal">

        <div class="link-conteudo">
            <div class="titulo">
                <h1>Modelos</h1>
            </div>

            <form method="get">
                <div class="grid-simples link-conteudo alinhar-direita">
                    {{ formulario.as_p }}
                </div>
                <button class="botao" type="submit">Pesquisar</button>
            </form>
        </div>

        <div class="link-conteudo alinhar-esquerda">
            <div class="grid">
                {% for modelo in produtos_modelos %}
                    <div class="botao-div-2">
                        <div>
                            <a href="{% url "home:produtos-modelo" modelo.id %}">
                                {% if modelo.imagem %}
                                    <div>
                                        <img loading="lazy" src="{{ modelo.imagem.url }}">
                                    </div>
                                {% endif %}
                                <div>
                                    {{ modelo.descricao }}
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </section>

{% endblock conteudo %}