:root {
    --azul-escuro: rgb(0, 50, 105);
    --verde-claro: rgb(189, 198, 56);
    --cinza-claro: rgb(238, 238, 238);
    --branco: rgb(255, 255, 255);
    --tamanho-borda-icones: 0.2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}


body {
    font-family: 'Puntodewa', sans-serif;
}

a {
    color: inherit;
}

.cabecalho {
    background-color: var(--azul-escuro);
    color: var(--branco);
    border-bottom: 0.5rem solid var(--verde-claro);
    justify-content: center;
    text-align: center;
}

.cabecalho div {
    padding: 1rem;
}

.rodape {
    background-color: var(--azul-escuro);
    color: var(--branco);
    border-top: 0.5rem solid var(--verde-claro);
    justify-content: center;
    text-align: center;
}

.rodape div {
    padding: 1rem;
}

.principal {
    background-color: var(--cinza-claro);
    min-height: 100vh;
    background-size: cover;
    background-position: center center;
}

.logo-img {
    width: 100%;
    max-width: 29rem;
    max-height: 10rem;
}

.grid {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 1rem;
}

.grid-icones-pequenos {
    max-width: 54rem;
}

.grid-icones-medios,
.grid-icones-grandes {
    max-width: 116rem;
}

.icones {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 1.5rem;
    border: var(--tamanho-borda-icones) solid var(--verde-claro);
    transition: all 200ms ease-in-out;
    box-shadow: 0.3rem 0.3rem 0.5rem 0.1rem var(--azul-escuro);
}

.icones:hover {
    transform: scale(1.05);
}

.icones-pequenos {
    max-width: calc(7rem + 2 * var(--tamanho-borda-icones));
    max-height: calc(7rem + 2 * var(--tamanho-borda-icones));
}

.icones-pequenos img {
    width: 7rem;
    height: 7rem;
}

.icones-medios {
    max-width: calc(21rem + 2 * var(--tamanho-borda-icones));
    max-height: calc(7rem + 2 * var(--tamanho-borda-icones));
}

.icones-medios img {
    width: 21rem;
    height: 7rem;
}

.icones-grandes {
    max-width: calc(21rem + 2 * var(--tamanho-borda-icones));
    max-height: calc(21rem + 2 * var(--tamanho-borda-icones));
}

.icones-grandes img,
.icones-grandes-imagem {
    width: 21rem;
    height: 16rem;
}

.icones-grandes p,
.icones-grandes-texto {
    width: 21rem;
    height: 5rem;
    color: var(--azul-escuro);
    background-color: var(--verde-claro);
    text-align: center;
    align-content: center;
    justify-content: center;
    font-size: 2.1rem;
    font-weight: bold;
}