:root {
    --azul-escuro: rgb(0, 50, 105);
    --verde-claro: rgb(189, 198, 56);
    --cinza-claro: rgb(238, 238, 238);
    --branco: rgb(255, 255, 255);
    --vemelho: rgb(205, 33, 41);
    --tamanho-borda-icones: 0.2rem;
    --tamanho-fonte-h1: 5rem;
    --tamanho-fonte-h2: 4rem;
    --tamanho-fonte-p: 2rem;
    --tamanho-fonte-p-grande: 3rem;
    --tamanho-fonte-p-pequeno: 1.5rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}


body,
textarea {
    font-family: 'Puntodewa', sans-serif;
}

h1 {
    font-size: var(--tamanho-fonte-h1);
}

h2 {
    font-size: var(--tamanho-fonte-h2);
}

p,
label,
input,
textarea,
button,
.botao-div {
    font-size: var(--tamanho-fonte-p);
    line-height: 2.5rem;
    padding: 0 0.5rem;
}

input,
textarea {
    color: var(--azul-escuro);
    outline: none;
    border: none;
}

input:focus,
textarea:focus {
    box-shadow: 0 0 0.5rem 0.2rem var(--verde-claro);
}


.cabecalho {
    background-color: var(--azul-escuro);
    color: var(--branco);
    border-bottom: 0.5rem solid var(--verde-claro);
    justify-content: center;
    text-align: center;
}

.cabecalho div {
    padding: 1rem;
}

.rodape {
    background-color: var(--azul-escuro);
    color: var(--branco);
    border-top: 0.5rem solid var(--verde-claro);
    justify-content: center;
    text-align: center;
}

.rodape div {
    padding: 1rem;
}

.rodape p,
.fonte-p-pequeno {
    font-size: var(--tamanho-fonte-p-pequeno);
}

.principal {
    background-color: var(--cinza-claro);
    color: var(--azul-escuro);
    min-height: 100vh;
    background-size: cover;
    background-position: center center;
}

.principal-escuro {
    background-color: var(--azul-escuro);
    color: var(--branco);
}

.logo-img {
    width: 100%;
    max-width: 29rem;
    max-height: 10rem;
}

.grid {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 1rem;
}

.grid-icones-pequenos {
    max-width: 54rem;
}

.grid-icones-comunicados,
.grid-icones-medios,
.grid-icones-grandes {
    max-width: 116rem;
}

.icones {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 1.5rem;
    border: var(--tamanho-borda-icones) solid var(--verde-claro);
    transition: all 200ms ease-in-out;
    box-shadow: 0.3rem 0.3rem 0.5rem 0.1rem var(--azul-escuro);
}

.icones:hover {
    transform: scale(1.05);
}

.icones-comunicados {
    border: var(--tamanho-borda-icones) solid var(--vemelho);
    box-shadow: none;
    max-width: calc(111.6rem + 2 * var(--tamanho-borda-icones));
    width: auto;
    height: auto;
}

.icones-comunicados:hover {
    transform: none;
}

.icones-comunicados img {
    max-width: 111.6rem;
    width: 100%;
    height: 100%;
}

.icones-pequenos {
    max-width: calc(7rem + 2 * var(--tamanho-borda-icones));
    max-height: calc(7rem + 2 * var(--tamanho-borda-icones));
}

.icones-pequenos img {
    width: 7rem;
    height: 7rem;
}

.icones-medios {
    max-width: calc(21rem + 2 * var(--tamanho-borda-icones));
    max-height: calc(7rem + 2 * var(--tamanho-borda-icones));
}

.icones-medios img {
    width: 21rem;
    height: 7rem;
}

.icones-grandes {
    max-width: calc(21rem + 2 * var(--tamanho-borda-icones));
    max-height: calc(21rem + 2 * var(--tamanho-borda-icones));
}

.icones-grandes img,
.icones-grandes-imagem {
    width: 21rem;
    height: 16rem;
}

.icones-grandes p,
.icones-grandes-texto {
    width: 21rem;
    height: 5rem;
    color: var(--azul-escuro);
    background-color: var(--verde-claro);
    text-align: center;
    align-content: center;
    justify-content: center;
    font-weight: bold;
}

.icones-fundo-azul {
    color: var(--branco);
    background-color: var(--azul-escuro);
}

.titulo {
    padding: 2rem;
    color: var(--verde-claro);
    text-align: center;
    text-transform: uppercase;
}

.link-conteudo {
    padding: 2rem;
    color: var(--azul-escuro);
    text-align: center;
    align-content: center;
    justify-content: center;
}

.link-conteudo table {
    margin: 0 auto;
}

.link-conteudo-escuro {
    color: var(--branco);
}

.moldura-verde {
    padding: 2rem;
    border: var(--tamanho-borda-icones) solid var(--verde-claro);
    border-radius: 1.5rem;
    width: fit-content;
    text-align: center;
    align-content: center;
    justify-content: center;
    margin: 2rem auto;
}

.moldura-verde textarea {
    width: 100%;
}

.grid-2col-numero {
    display: grid;
    grid-template-columns: auto 8rem;
    gap: 0.5rem;
    text-align: right;
}

.grid-simples {
    display: grid;
    gap: 0.5rem;
    width: fit-content;
    margin: 0 auto;
}

.grid-2col-numero2 {
    display: grid;
    grid-template-columns: max-content auto;
    gap: 0.5rem;
}

.verde-negrito {
    font-weight: bolder;
    color: var(--verde-claro);
}

.vermelho-negrito {
    font-weight: bolder;
    color: var(--vemelho);
}

.azul-negrito {
    font-weight: bolder;
    color: var(--azul-escuro);
}

.branco-negrito {
    font-weight: bolder;
    color: var(--branco);
}

.cinza-negrito {
    font-weight: bolder;
    color: var(--cinza-claro);
}

.botao,
.botao-div {
    padding: 1rem;
    border: var(--tamanho-borda-icones) solid var(--verde-claro);
    background: var(--azul-escuro);
    color: var(--branco);
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.botao-escuro {
    background: var(--verde-claro);
    color: var(--azul-escuro);
}

.botao:hover,
.botao-div:hover {
    background: var(--verde-claro);
    color: var(--azul-escuro);
}

.botao-escuro:hover {
    background: var(--azul-escuro);
    color: var(--branco);
}

.topo {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 6rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: var(--tamanho-fonte-p-grande);
}

@media (max-width: 570px) {
    .grid-2col-numero {
        grid-template-columns: auto;
        text-align: center;
    }

    .grid-2col-numero2 {
        grid-template-columns: auto;
    }
}