{% extends "frete/base.html" %}

{% block conteudo %}

    <section class="principal">

        <div class="link-conteudo">
            <div class="titulo">
                <h1>Calculo de Frete</h1>
            </div>

            <div class="link-conteudo">
                <div class="grid-simples">
                    <a href="{% url "frete:prazos" %}"><div class="botao-div">Consultar Prazos</div></a>
                    <a href="{% url "frete:medidas-produtos" %}"><div class="botao-div">Medidas Produtos</div></a>
                </div>
            </div>

            <form method="get">
                <div class="grid-simples link-conteudo">
                    {{ formulario.as_p }}
                </div>
                <button class="botao" type="submit">Calcular</button>
            </form>
        </div>

        

        <div class="link-conteudo">

            {% if erros %}
                <p>{{ erros }}</p>
            {% endif %}

            {% if fretes %}
                <div class="grid-slim centralizar">
                    <div class="moldura-verde moldura-verde-slim">
                        <p><span class="azul-negrito">Orçamento: </span>{{ dados_orcamento.ORCAMENTO }}</p>
                        <p><span class="azul-negrito">Cliente: </span>{{ dados_orcamento.CLIENTE }}</p>
                        <p><span class="azul-negrito">Valor Total: </span>R$ {{ dados_orcamento.VALOR_TOTAL | floatformat:"2" }}</p>
                        <p><span class="azul-negrito">Destino Mercadorias: </span>{{ dados_orcamento.DESTINO_MERCADORIAS }}</p>
                        {% if dados_orcamento.ZONA_FRANCA_ALC == 'SIM' %}<p><span class="azul-negrito"> Zona Franca / ALC</span></p>{% endif %}
                    </div>
                    <div class="moldura-verde moldura-verde-slim">
                        <p><span class="azul-negrito">UF Origem: </span>{{ dados_orcamento.UF_ORIGEM }}</p>
                        <p><span class="azul-negrito">UF Faturamento: </span>{{ dados_orcamento.UF_FATURAMENTO }}</p>
                        <p><span class="azul-negrito">UF Destino: </span>{{ dados_orcamento.UF_DESTINO }}</p>
                        <p><span class="azul-negrito">Cidade Destino: </span>{{ dados_orcamento.CIDADE_DESTINO }}</p>
                    </div>
                    <div class="moldura-verde moldura-verde-slim">
                        <p><span class="azul-negrito">Volumes: </span>{{ dados_volumes.total_volumes }}</p>
                        <p><span class="azul-negrito">Cubagem: </span>{{ dados_volumes.total_m3 }} m³ <button onclick="copiarCubagem()">🗐</button></p>
                        <p><span class="azul-negrito">Peso Bruto: </span>{{ dados_volumes.total_peso_real }} kg</p>
                    </div>
                </div>
            {% endif %}

            <div class="grid-simples">
                {% for frete in fretes %}
                    <div class="moldura-verde moldura-verde-slim width-100">
                        <div class="grid-slim centralizar">
                            <p class="verde-negrito">{{ frete.valor.transportadora_origem_destino.transportadora.nome }}</p>
                            {% if frete.observacoes_prazo %}<p class="fonte-vermelho">{{ frete.observacoes_prazo }}</p>{% endif %}
                        </div>

                        <div class="grid-slim centralizar">
                            <div class="block-slim centralizar">
                                <p><span class="azul-negrito">Frete Empresa: </span>R$ {{ frete.valor_frete_empresa }}</p>
                                {% if frete.cif %}<p class="verde-negrito">Frete CIF</p>{% endif %}
                                <p><span class="azul-negrito">Frete Cliente: </span>R$ {{ frete.valor_frete_cliente }}</p>
                            </div>

                            <div class="block-slim centralizar">
                                <p><span class="azul-negrito">Prazo: </span>{{ frete.prazo }} {{ frete.prazo_tipo }}</p>
                                {% if frete.frequencia %}<p><span class="azul-negrito">Frequencia: </span>{{ frete.frequencia }}</p>{% endif %}
                                <p><span class="azul-negrito">Peso Cubado: </span>{{ frete.total_peso_maior }} kg</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>

    </section>

    <script>
        function copiarCubagem() {
            const cubagem = "Medida aferida: {{ dados_volumes.total_m3 }} m³";
            
            const textarea = document.createElement('textarea');
            textarea.value = cubagem;
            document.body.appendChild(textarea);
            textarea.select();
            document.execCommand('copy');
            document.body.removeChild(textarea);

            alert('Copiado: ' + cubagem);
        }
    </script>

{% endblock conteudo %}