{% extends "estoque/base.html" %}

{% block conteudo %}

    <section class="principal">

        <div class="link-conteudo link-conteudo-grande">
            <div class="titulo">
                <h1>{{  titulo_pagina  }}</h1>
            </div>

            <form id="form" method="post" class="fonte-maior">
                <p>{{ produto_pallet.produto }} em {{ produto_pallet.endereco}} Alt. {{ produto_pallet.endereco_altura}} Col. {{ produto_pallet.endereco_coluna}}</p>
                {% csrf_token %}
                <div class="grid link-conteudo link-conteudo-grande">
                    <p>{{ produto_pallet.unidade }}</p>
                    {{ formulario.as_p }}
                </div>
                <div class="grid link-conteudo fonte-maior">
                    <button class="botao" name="salvar-submit" type="submit">Salvar</button>
                    <a href="{{ url_destino }}">
                        <div class="botao-div botao-vermelho">Cancelar</div>
                    </a>
                </div>
            </form>
        </div>

        {% include "estoque/partials/_estoque-excluir.html" %}

    </section>

{% endblock conteudo %}