{% extends "estoque/base.html" %}

{% block conteudo %}

    <section class="principal">

        <div class="link-conteudo link-conteudo-grande">
            <div class="titulo">
                <h1>{{  titulo_pagina  }} <a target="_blank" href="{% url "dashboards:estoque" %}">⊕</a></h1>
            </div>

            <form id="form" method="get" class="fonte-maior">
                <div class="grid-simples link-conteudo link-conteudo-grande">
                    {{ formulario.as_p }}
                </div>
                <div class="grid link-conteudo fonte-maior">
                    <button class="botao botao-escuro" name="pesquisar-submit" type="submit">Pesquisar</button>
                    <a href="{% url "estoque:estoque" %}?pesquisar=Embalagem">
                        <div class="botao-div">Embalagem</div>
                    </a>
                    <a href="{% url "estoque:estoque" %}?pesquisar=Expedição">
                        <div class="botao-div">Expedição</div>
                    </a>
                    <a href="{% url "estoque:estoque" %}?pesquisar=Recebimento">
                        <div class="botao-div">Recebimento</div>
                    </a>
                    <a href="{% url "estoque:estoque" %}?pesquisar=Picking+Produção">
                        <div class="botao-div">Picking Produção</div>
                    </a>
                    <a href="/admin/estoque/produtospallets/add/">
                        <div class="botao-div botao-escuro">Incluir</div>
                    </a>
                    <a href="/admin/analysis/oc_mp_itens/">
                        <div class="botao-div botao-escuro">Incluir OC MP</div>
                    </a>
                </div>
            </form>
        </div>

        

        <div class="link-conteudo link-conteudo-grande fonte-maior">

            {% if erros %}
                <p>{{ erros }}</p>
            {% endif %}

            {% if dados %}
                <div class="tabela-simples">
                    <table>
                        <tr>
                            <th>Endereço</th>
                            <th>Col.</th>
                            <th>Alt.</th>
                            <th>ID Emb.</th>
                            <th>Itens</th>
                            <th>Produto</th>
                            <th>Un.</th>
                            <th>Quantidade</th>
                            <th>Fornecedor</th>
                            <th>Lote</th>
                        </tr>
                        {% for produto_pallet in dados %}
                            <tr class="{% cycle 'principal-azul-claro' '' %}">
                                <td class="fonte-roxo"><a href="{% url "estoque:mover" produto_pallet.pk %}?destino={{ request.get_full_path | urlencode}}">{{ produto_pallet.endereco }}</a></td>
                                <td class="fonte-roxo"><a href="{% url "estoque:mover" produto_pallet.pk %}?destino={{ request.get_full_path | urlencode}}">{{ produto_pallet.endereco_coluna }}</a></td>
                                <td class="fonte-roxo"><a href="{% url "estoque:mover" produto_pallet.pk %}?destino={{ request.get_full_path | urlencode}}">{{ produto_pallet.endereco_altura }}</a></td>
                                <td></td>
                                <td>{{ produto_pallet.pallet.quantidade_produtos }}</td>
                                <td>{{ produto_pallet.produto.nome }}</td>
                                <td>{{ produto_pallet.unidade }}</td>
                                <td class="fonte-roxo"><a href="{% url "estoque:alterar" produto_pallet.pk %}?destino={{ request.get_full_path | urlencode}}">{{ produto_pallet.quantidade }}</a></td>
                                <td class="fonte-roxo">{% if produto_pallet.fornecedor %}<a href="{% url "estoque:alterar" produto_pallet.pk %}?destino={{ request.get_full_path | urlencode}}">{{ produto_pallet.fornecedor }}</a>{% endif %}</td>
                                <td class="fonte-roxo">{% if produto_pallet.lote_fornecedor %}<a href="{% url "estoque:alterar" produto_pallet.pk %}?destino={{ request.get_full_path | urlencode}}">{{ produto_pallet.lote_fornecedor }}</a>{% endif %}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endif %}

        </div>

    </section>

{% endblock conteudo %}