{% extends "home/base.html" %}

{% block conteudo %}

    <section class="principal">

        <div class="titulo">
            <h1>Calculo Conjuntos Piso Elevado</h1>
        </div>

        <div class="link-conteudo">

            <script type = "text/javascript">

                function calcular1() {
                
                var larguraplaca = document.getElementById("larguraplaca").value;
                var comprimentoplaca = document.getElementById("comprimentoplaca").value;
                var alturaplaca = document.getElementById("alturaplaca").value;
                var alturafinal = document.getElementById("alturafinal").value;
                var areaaplicacao = document.getElementById("areaaplicacao").value;
                var areaplaca = 0;
                var alturaconjunto = 0;
                var placas = 0;
                var placas10 = 0;
                var conjuntosexato = 0;
                var conjuntosseguranca = 0;
                
                var pet5 = 2.1;
                var pet1 = 0.3;
                var tubo = 0;
                var tubocorte = 0;
                var tubominimo = 7;
                var tuboconcretominimo = 60;
                var tuboconcretoacominimo = 100;
                
                var pe5 = 1.5;
                var pe3 = 3;
                var pe2 = 5;
                var pe1 = 3;
                var peminimo = 5.5;
                var prolongadores = 0;
                var prolongadorminimo = 1;
                var prolongadormaximo = 12;
                var combinacaoprolongadores = 0;
                
                larguraplaca = Number(larguraplaca);
                comprimentoplaca = Number(comprimentoplaca);
                alturaplaca = Number(alturaplaca);
                alturafinal = Number(alturafinal);
                areaaplicacao = Number(areaaplicacao);
                
                areaplaca = larguraplaca * comprimentoplaca / 10000;
                alturaconjunto = alturafinal - alturaplaca;
                
                placas = Math.ceil(areaaplicacao / areaplaca);
                placas10 = Math.ceil(placas * 1.1);
                
                conjuntosexato = Math.ceil(Math.pow(Math.sqrt(placas10) + 1, 2));
                document.getElementById("conjuntosexato").value = conjuntosexato;
                
                conjuntosseguranca = Math.ceil(Math.pow(Math.ceil(Math.sqrt(placas10)) + 1, 2));
                document.getElementById("conjuntosseguranca").value = conjuntosseguranca;
                
                tubo = alturaconjunto - pet1 - pet5;
                
                if (alturaconjunto < peminimo) {
                    tubocorte = "Abaixo do tamanho minimo";
                } else {
                    if (tubo < tubominimo) {
                        tubocorte = "Utilizar PE";
                    } else {
                        tubocorte=Math.ceil(tubo - 1);
                    }
                }
                document.getElementById("cortetubo").value = tubocorte;
                
                if (tubocorte <= tuboconcretominimo) {
                    document.getElementById("obspet").innerHTML = "";
                } else {
                    if (tubocorte <= tuboconcretoacominimo) {
                        document.getElementById("obspet").innerHTML = "Tubo com mais de " + tuboconcretominimo + " cm recomenda-se preencher com concreto";
                    } else {
                        if (tubocorte>tuboconcretoacominimo) {
                            document.getElementById("obspet").innerHTML = "Tubo com mais de " + tuboconcretoacominimo + " cm recomenda-se preencher com concreto e estruturar com vergalhão de aço";
                        } else {
                            document.getElementById("obspet").innerHTML = "";
                        }
                    }
                }
                
                prolongadores = alturaconjunto-pe1-pe5;
                
                if (prolongadores < prolongadorminimo) {
                    combinacaoprolongadores = "Abaixo do tamanho minimo";
                } else {
                    if (prolongadores < pe3) {
                        combinacaoprolongadores = "Nenhum prolongador";
                    } else {
                        if (prolongadores < pe2) {
                            combinacaoprolongadores = "PE3";
                        } else {
                            if (prolongadores < pe3+pe3) {
                                combinacaoprolongadores = "PE2";
                            } else {
                                if (prolongadores < pe3+pe2) {
                                    combinacaoprolongadores = "PE3+PE3";
                                } else {
                                    if (prolongadores < pe2+pe2) {
                                        combinacaoprolongadores = "PE3+PE2";
                                    } else {
                                        if (prolongadores <= prolongadormaximo) {
                                            combinacaoprolongadores = "PE2+PE2";
                                        } else {
                                            if (prolongadores > prolongadormaximo) {
                                                combinacaoprolongadores = "Utilizar PET";
                                            } else {
                                                combinacaoprolongadores = "";
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                document.getElementById("prolongadores").value = combinacaoprolongadores;
                
                }
                
            </script>
            
            <fieldset class="moldura-verde">
                <div class="grid-2col-numero">

                    <label for ="larguraplaca">Largura da placa (cm):</label>
                    <input type="number" id="larguraplaca" name="larguraplaca">

                    <label for ="comprimentoplaca">Comprimento da placa (cm):</label>
                    <input type="number" id="comprimentoplaca" name="comprimentoplaca">

                    <label for ="alturaplaca">Espessura da placa (cm):</label>
                    <input type="number" id="alturaplaca" name="alturaplaca">

                </div>
            </fieldset>

            <fieldset class="moldura-verde">
                <div class="grid-2col-numero">

                    <label for ="alturafinal">Altura final do piso (cm):</label>
                    <input type="number" id="alturafinal" name="alturafinal">

                </div>
            </fieldset>

            <fieldset class="moldura-verde">
                <div class="grid-2col-numero">

                    <label for ="areaaplicacao">Area de aplicação (m²):</label>
                    <input type="number" id="areaaplicacao" name="areaaplicacao">

                </div>
                
            </fieldset>

            <div>
                <button class="botao" type="button" onclick="calcular1()">Calcular</button>
            </div>

            <fieldset class="moldura-verde">
                <div class="grid-simples">
                    <p class="azul-negrito">PET + TUBO</p>
                    <p class="fonte-p-pequeno">Conjunto: PE6 + PET5 + PET4 + Tubo Cortado + PET1</p>

                    <div class="grid-2col-numero2">
                        <label class="verde-negrito" for ="cortetubo">Corte do tubo (cm):</label>
                        <input type="text" id="cortetubo" name="cortetubo">
                    </div>

                    <textarea id="obspet" name="obspet" rows="3"></textarea>
                </div>
            </fieldset>
                                   
            <div>
                <p class="vermelho-negrito">ou</p>
            </div>

            <fieldset class="moldura-verde">
                <div class="grid-simples">
                    <p class="azul-negrito">PE + PROLONGADOR</p>
                    <p class="fonte-p-pequeno">Conjunto: PE6 + PE5 + PE4 + Prolongadores + PE1</p>

                    <label class="verde-negrito" for ="prolongadores">Combinação de prolongadores:</label>
                    <input type="text" id="prolongadores" name="prolongadores">
                </div>
            </fieldset>

            <fieldset class="moldura-verde">
                <div class="grid-2col-numero">

                    <label class="vermelho-negrito" for ="conjuntosexato">Quantidade de conjuntos (aproximado):</label>
                    <input type="number" id="conjuntosexato" name="conjuntosexato">

                    <label class="vermelho-negrito" for ="conjuntosseguranca">Quantidade de conjuntos + segurança:</label>
                    <input type="number" id="conjuntosseguranca" name="conjuntosseguranca">

                </div>
            </fieldset>

        </div>

    </section>

{% endblock conteudo %}