{% extends "home/base.html" %}

{% block conteudo %}

    <section class="principal">

        <div class="titulo">
            <h1><p>Calculo Conjuntos Piso Elevado</p></h1>
        </div>

        <div class="link-conteudo">

            <script type = "text/javascript">

                function calcular1() {
                
                var larguraplaca = document.getElementById("larguraplaca").value;
                var comprimentoplaca = document.getElementById("comprimentoplaca").value;
                var alturaplaca = document.getElementById("alturaplaca").value;
                var alturafinal = document.getElementById("alturafinal").value;
                var areaaplicacao = document.getElementById("areaaplicacao").value;
                var areaplaca = 0;
                var alturaconjunto = 0;
                var placas = 0;
                var placas10 = 0;
                var conjuntosexato = 0;
                var conjuntosseguranca = 0;
                
                var pet5 = 2.1;
                var pet1 = 0.3;
                var tubo = 0;
                var tubocorte = 0;
                var tubominimo = 7;
                var tuboconcretominimo = 60;
                var tuboconcretoacominimo = 100;
                
                var pe5 = 1.5;
                var pe3 = 3;
                var pe2 = 5;
                var pe1 = 3;
                var peminimo = 5.5;
                var prolongadores = 0;
                var prolongadorminimo = 1;
                var prolongadormaximo = 12;
                var combinacaoprolongadores = 0;
                
                larguraplaca = Number(larguraplaca);
                comprimentoplaca = Number(comprimentoplaca);
                alturaplaca = Number(alturaplaca);
                alturafinal = Number(alturafinal);
                areaaplicacao = Number(areaaplicacao);
                
                areaplaca = larguraplaca * comprimentoplaca / 10000;
                alturaconjunto = alturafinal - alturaplaca;
                
                placas = Math.ceil(areaaplicacao / areaplaca);
                placas10 = Math.ceil(placas * 1.1);
                
                conjuntosexato = Math.ceil(Math.pow(Math.sqrt(placas10) + 1, 2));
                document.getElementById("conjuntosexato").value = conjuntosexato;
                
                conjuntosseguranca = Math.ceil(Math.pow(Math.ceil(Math.sqrt(placas10)) + 1, 2));
                document.getElementById("conjuntosseguranca").value = conjuntosseguranca;
                
                tubo = alturaconjunto - pet1 - pet5;
                
                if (alturaconjunto < peminimo) {
                    tubocorte = "Abaixo do tamanho minimo";
                } else {
                    if (tubo < tubominimo) {
                        tubocorte = "Utilizar PE";
                    } else {
                        tubocorte=Math.ceil(tubo - 1);
                    }
                }
                document.getElementById("cortetubo").value = tubocorte;
                
                if (tubocorte <= tuboconcretominimo) {
                    document.getElementById("obspet").value = "";
                } else {
                    if (tubocorte <= tuboconcretoacominimo) {
                        document.getElementById("obspet").value = "Tubo com mais de " + tuboconcretominimo + " cm recomenda-se preencher com concreto";
                    } else {
                        if (tubocorte>tuboconcretoacominimo) {
                            document.getElementById("obspet").value = "Tubo com mais de " + tuboconcretoacominimo + " cm recomenda-se preencher com concreto e estruturar com vergalhão de aço";
                        } else {
                            document.getElementById("obspet").value = "";
                        }
                    }
                }
                
                prolongadores = alturaconjunto-pe1-pe5;
                
                if (prolongadores < prolongadorminimo) {
                    combinacaoprolongadores = "Abaixo do tamanho minimo";
                } else {
                    if (prolongadores < pe3) {
                        combinacaoprolongadores = "Nenhum prolongador";
                    } else {
                        if (prolongadores < pe2) {
                            combinacaoprolongadores = "PE3";
                        } else {
                            if (prolongadores < pe3+pe3) {
                                combinacaoprolongadores = "PE2";
                            } else {
                                if (prolongadores < pe3+pe2) {
                                    combinacaoprolongadores = "PE3+PE3";
                                } else {
                                    if (prolongadores < pe2+pe2) {
                                        combinacaoprolongadores = "PE3+PE2";
                                    } else {
                                        if (prolongadores <= prolongadormaximo) {
                                            combinacaoprolongadores = "PE2+PE2";
                                        } else {
                                            if (prolongadores > prolongadormaximo) {
                                                combinacaoprolongadores = "Utilizar PET";
                                            } else {
                                                combinacaoprolongadores = "";
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                document.getElementById("prolongadores").value = combinacaoprolongadores;
                
                }
                
            </script>
            
            <div class="moldura-verde">
                <p>Largura da placa (cm): <input type="number" id="larguraplaca" name="larguraplaca"></p>
                <p>Comprimento da placa (cm): <input type="number" id="comprimentoplaca" name="comprimentoplaca"></p>
                <p>Espessura da placa (cm): <input type="number" id="alturaplaca" name="alturaplaca"></p>
            </div>

            <b>------------------------------------------------------------------------------</b><br><br>
            
            <b>Altura final do piso (cm): </b><input type="number" id="alturafinal" name="alturafinal"><br><br>
            
            <b>------------------------------------------------------------------------------</b><br><br>
            
            <b>Area de aplicação (m²): </b><input type="number" id="areaaplicacao" name="areaaplicacao"><br><br>
            
            <b>------------------------------------------------------------------------------</b><br><br>
            
            <button type="button" onclick="calcular1()">Calcular</button><br><br><br><br>
            
            <b>------------------------------------------------------------------------------</b><br><br>
            
            <b>PET + TUBO</b><br>
            Conjunto: PE6 + PET5 + PET4 + Tubo Cortado + PET1<br>
            <b><font color="blue">Corte do tubo (cm): </font></b><input type="text" id="cortetubo" name="cortetubo"><br>
            <input type="text" id="obspet" name="obspet" size=85><br><br>
            
            <b>ou</b><br><br>
            
            <b>PE + PROLONGADOR</b><br>
            Conjunto: PE6 + PE5 + PE4 + Prolongadores + PE1<br>
            <b><font color="blue">Combinação de prolongadores: </font></b><input type="text" id="prolongadores" name="prolongadores"><br><br><br><br>
            
            <b>------------------------------------------------------------------------------</b><br><br>
            
            <b><font color="red">Quantidade de conjuntos (aproximado): </font></b><input type="number" id="conjuntosexato" name="conjuntosexato"><br><br>
            
            <b>------------------------------------------------------------------------------</b><br><br>
            
            <b><font color="red">Quantidade de conjuntos + segurança: </font></b><input type="number" id="conjuntosseguranca" name="conjuntosseguranca"><br><br>

        </div>

    </section>

{% endblock conteudo %}