{% extends "home/base.html" %}

{% block conteudo %}

    <script type = "text/javascript">

        function calcular_agfix() {
            var m2_agfix = document.getElementById("m2_agfix").value;
            m2_agfix = Number(m2_agfix);

            agfix_chapisco_convencional = 0.3 * m2_agfix
            agfix_chapisco_rolado = 0.2 * m2_agfix
            agfix_pisos_revestimentos = 0.4 * m2_agfix

            document.getElementById("agfix_chapisco_convencional").value = agfix_chapisco_convencional;
            document.getElementById("agfix_agua_chapisco_convencional").value = agfix_chapisco_convencional * 2;

            document.getElementById("agfix_chapisco_rolado").value = agfix_chapisco_rolado;
            document.getElementById("agfix_agua_chapisco_rolado").value = agfix_chapisco_rolado * 2;

            document.getElementById("agfix_pisos_revestimentos").value = agfix_pisos_revestimentos;
            document.getElementById("agfix_agua_pisos_revestimentos").value = agfix_pisos_revestimentos * 2;
        }

        function calcular_agdesmoldante() {
            var m2_agdesmoldante = document.getElementById("m2_agdesmoldante").value;
            m2_agdesmoldante = Number(m2_agdesmoldante);

            agdesmoldante_forma_plastificada_1_5 = 0.006 * m2_agdesmoldante
            agdesmoldante_forma_plastificada_1_10 = 0.003 * m2_agdesmoldante
            agdesmoldante_forma_resinada_1_5 = 0.017 * m2_agdesmoldante
            agdesmoldante_forma_resinada_1_10 = 0.01 * m2_agdesmoldante

            document.getElementById("agdesmoldante_forma_plastificada_1_5").value = agdesmoldante_forma_plastificada_1_5;
            document.getElementById("agdesmoldante_agua_forma_plastificada_1_5").value = agdesmoldante_forma_plastificada_1_5 * 5;

            document.getElementById("agdesmoldante_forma_plastificada_1_10").value = agdesmoldante_forma_plastificada_1_10;
            document.getElementById("agdesmoldante_agua_forma_plastificada_1_10").value = agdesmoldante_forma_plastificada_1_10 * 10;
        
            document.getElementById("agdesmoldante_forma_resinada_1_5").value = agdesmoldante_forma_resinada_1_5;
            document.getElementById("agdesmoldante_agua_forma_resinada_1_5").value = agdesmoldante_forma_resinada_1_5 * 5;
        
            document.getElementById("agdesmoldante_forma_resinada_1_10").value = agdesmoldante_forma_resinada_1_10;
            document.getElementById("agdesmoldante_agua_forma_resinada_1_10").value = agdesmoldante_forma_resinada_1_10 * 10;
        }

        function calcular_agdesmoldante_eco() {
            var m2_agdesmoldante_eco = document.getElementById("m2_agdesmoldante_eco").value;
            m2_agdesmoldante_eco = Number(m2_agdesmoldante_eco);

            agdesmoldante_eco_rendimento_0045 = 0.045 * m2_agdesmoldante_eco
            agdesmoldante_eco_rendimento_0065 = 0.065 * m2_agdesmoldante_eco
        
            document.getElementById("agdesmoldante_eco_rendimento_0045").value = agdesmoldante_eco_rendimento_0045;
            document.getElementById("agdesmoldante_eco_rendimento_0065").value = agdesmoldante_eco_rendimento_0065;
        }

        function calcular_agdesmoldante_mineral() {
            var m2_agdesmoldante_mineral = document.getElementById("m2_agdesmoldante_mineral").value;
            m2_agdesmoldante_mineral = Number(m2_agdesmoldante_mineral);

            agdesmoldante_mineral_forma_resinada_12=0.083*m2_agdesmoldante_mineral
            agdesmoldante_mineral_forma_resinada_10 = 0.1 * m2_agdesmoldante_mineral
            agdesmoldante_mineral_forma_plastificada_35 = 0.028 * m2_agdesmoldante_mineral
            agdesmoldante_mineral_forma_plastificada_30 = 0.033 * m2_agdesmoldante_mineral

            document.getElementById("agdesmoldante_mineral_forma_resinada_12").value = agdesmoldante_mineral_forma_resinada_12;
            document.getElementById("agdesmoldante_mineral_forma_resinada_10").value = agdesmoldante_mineral_forma_resinada_10;
            document.getElementById("agdesmoldante_mineral_forma_plastificada_35").value = agdesmoldante_mineral_forma_plastificada_35;
            document.getElementById("agdesmoldante_mineral_forma_plastificada_30").value = agdesmoldante_mineral_forma_plastificada_30;
        }

        function calcular_agcura() {
            var m2_agcura = document.getElementById("m2_agcura").value;
            m2_agcura = Number(m2_agcura);

            agcura_litros = 0.05 * m2_agcura

            document.getElementById("agcura_litros").value = agcura_litros;
        }

        function calcular_agcura_premium() {
            var m2_agcura_premium = document.getElementById("m2_agcura_premium").value;
            m2_agcura_premium = Number(m2_agcura_premium);

            agcura_premium_litros = 0.05 * m2_agcura_premium

            document.getElementById("agcura_premium_litros").value = agcura_premium_litros;
        }

        function calcular_agcura_acrilico() {
            var m2_agcura_acrilico = document.getElementById("m2_agcura_acrilico").value;
            m2_agcura_acrilico = Number(m2_agcura_acrilico);

            agcura_acrilico_litros = 0.05 * m2_agcura_acrilico

            document.getElementById("agcura_acrilico_litros").value = agcura_acrilico_litros;
        }
        
    </script>

    <section class="principal">

        <div class="titulo">
            <h1>Calculo Consumo Quimicos</h1>
        </div>

        <div class="link-conteudo">

            <div class="grid-simples">
                <a href="#agfix"><div class="botao-div">AG.fix</div></a>
                <a href="#agdesmoldante"><div class="botao-div">AG.desmoldante</div></a>
                <a href="#agdesmoldante-eco"><div class="botao-div">AG.desmoldante ECO</div></a>
                <a href="#agdesmoldante-mineral"><div class="botao-div">AG.desmoldante Mineral</div></a>
                <a href="#agcura"><div class="botao-div">AG.cura</div></a>
                <a href="#agcura-premium"><div class="botao-div">AG.cura PREMIUM</div></a>
                <a href="#agcura-acrilico"><div class="botao-div">AG.cura ACRILICO</div></a>
            </div>

        </div>

    </section>

    <section id="agfix" class="principal principal-escuro">

        <div class="titulo">
            <h2>Calculo Consumo AG.fix</h2>
        </div>

        <div class="link-conteudo link-conteudo-escuro">

            <fieldset class="moldura-verde">
                <div class="grid-2col-numero">

                    <label for ="m2_agfix">Area de aplicação (m²):</label>
                    <input type="number" id="m2_agfix" name="m2_agfix">

                </div>

            </fieldset>

            <div>
                <button class="botao botao-escuro" type="button" onclick="calcular_agfix()">Calcular</button>
            </div>

            <fieldset class="moldura-verde">
                <div class="grid-simples">
                    <p class="branco-negrito">Chapisco Convencional</p>

                    <div class="grid-2col-numero">
                        <label class="verde-negrito" for ="agfix_chapisco_convencional">Litros de AG.fix:</label>
                        <input type="number" id="agfix_chapisco_convencional" name="agfix_chapisco_convencional">
                    </div>

                    <div>
                        <p class="vermelho-negrito">e</p>
                    </div>

                    <div class="grid-2col-numero">
                        <label class="branco-negrito" for ="agfix_agua_chapisco_convencional">Litros de agua:</label>
                        <input type="number" id="agfix_agua_chapisco_convencional" name="agfix_agua_chapisco_convencional">
                    </div>

                </div>
            </fieldset>

            <fieldset class="moldura-verde">
                <div class="grid-simples">
                    <p class="branco-negrito">Chapisco Rolado</p>

                    <div class="grid-2col-numero">
                        <label class="verde-negrito" for ="agfix_chapisco_rolado">Litros de AG.fix:</label>
                        <input type="number" id="agfix_chapisco_rolado" name="agfix_chapisco_rolado">
                    </div>

                    <div>
                        <p class="vermelho-negrito">e</p>
                    </div>

                    <div class="grid-2col-numero">
                        <label class="branco-negrito" for ="agfix_agua_chapisco_rolado">Litros de agua:</label>
                        <input type="number" id="agfix_agua_chapisco_rolado" name="agfix_agua_chapisco_rolado">
                    </div>

                </div>
            </fieldset>

            <fieldset class="moldura-verde">
                <div class="grid-simples">
                    <p class="branco-negrito">Pisos e revestimentos</p>

                    <div class="grid-2col-numero">
                        <label class="verde-negrito" for ="agfix_pisos_revestimentos">Litros de AG.fix:</label>
                        <input type="number" id="agfix_pisos_revestimentos" name="agfix_pisos_revestimentos">
                    </div>

                    <div>
                        <p class="vermelho-negrito">e</p>
                    </div>

                    <div class="grid-2col-numero">
                        <label class="branco-negrito" for ="agfix_agua_chapisco_rolado">Litros de agua:</label>
                        <input type="number" id="agfix_agua_pisos_revestimentos" name="agfix_agua_pisos_revestimentos">
                    </div>

                </div>
            </fieldset>

        </div>

    </section>

    <section id="agdesmoldante" class="principal">

        <div class="titulo">
            <h2>Calculo Consumo AG.desmoldante</h2>
        </div>

        <div class="link-conteudo">

            <fieldset class="moldura-verde">
                <div class="grid-2col-numero">

                    <label for ="m2_agdesmoldante">Area de aplicação (m²):</label>
                    <input type="number" id="m2_agdesmoldante" name="m2_agdesmoldante">

                </div>

            </fieldset>

            <div>
                <button class="botao" type="button" onclick="calcular_agdesmoldante()">Calcular</button>
            </div>

            <fieldset class="moldura-verde">
                <div class="grid-simples">
                    <p class="azul-negrito">Forma Plastificada</p>
                    <p class="azul-negrito">Diluição 1:5</p>

                    <div class="grid-2col-numero">
                        <label class="verde-negrito" for ="agdesmoldante_forma_plastificada_1_5">Litros de AG.desmoldante:</label>
                        <input type="number" id="agdesmoldante_forma_plastificada_1_5" name="agdesmoldante_forma_plastificada_1_5">
                    </div>

                    <div>
                        <p class="vermelho-negrito">e</p>
                    </div>

                    <div class="grid-2col-numero">
                        <label class="azul-negrito" for ="agdesmoldante_agua_forma_plastificada_1_5">Litros de agua:</label>
                        <input type="number" id="agdesmoldante_agua_forma_plastificada_1_5" name="agdesmoldante_agua_forma_plastificada_1_5">
                    </div>

                </div>
            </fieldset>

            <fieldset class="moldura-verde">
                <div class="grid-simples">
                    <p class="azul-negrito">Forma Plastificada</p>
                    <p class="azul-negrito">Diluição 1:10</p>

                    <div class="grid-2col-numero">
                        <label class="verde-negrito" for ="agdesmoldante_forma_plastificada_1_10">Litros de AG.desmoldante:</label>
                        <input type="number" id="agdesmoldante_forma_plastificada_1_10" name="agdesmoldante_forma_plastificada_1_10">
                    </div>

                    <div>
                        <p class="vermelho-negrito">e</p>
                    </div>

                    <div class="grid-2col-numero">
                        <label class="azul-negrito" for ="agdesmoldante_agua_forma_plastificada_1_10">Litros de agua:</label>
                        <input type="number" id="agdesmoldante_agua_forma_plastificada_1_10" name="agdesmoldante_agua_forma_plastificada_1_10">
                    </div>

                </div>
            </fieldset>

            <fieldset class="moldura-verde">
                <div class="grid-simples">
                    <p class="azul-negrito">Forma Resinada</p>
                    <p class="azul-negrito">Diluição 1:5</p>

                    <div class="grid-2col-numero">
                        <label class="verde-negrito" for ="agdesmoldante_forma_resinada_1_5">Litros de AG.desmoldante:</label>
                        <input type="number" id="agdesmoldante_forma_resinada_1_5" name="agdesmoldante_forma_resinada_1_5">
                    </div>

                    <div>
                        <p class="vermelho-negrito">e</p>
                    </div>

                    <div class="grid-2col-numero">
                        <label class="azul-negrito" for ="agdesmoldante_agua_forma_resinada_1_5">Litros de agua:</label>
                        <input type="number" id="agdesmoldante_agua_forma_resinada_1_5" name="agdesmoldante_agua_forma_resinada_1_5">
                    </div>

                </div>
            </fieldset>

            <fieldset class="moldura-verde">
                <div class="grid-simples">
                    <p class="azul-negrito">Forma Resinada</p>
                    <p class="azul-negrito">Diluição 1:10</p>

                    <div class="grid-2col-numero">
                        <label class="verde-negrito" for ="agdesmoldante_forma_resinada_1_10">Litros de AG.desmoldante:</label>
                        <input type="number" id="agdesmoldante_forma_resinada_1_10" name="agdesmoldante_forma_resinada_1_10">
                    </div>

                    <div>
                        <p class="vermelho-negrito">e</p>
                    </div>

                    <div class="grid-2col-numero">
                        <label class="azul-negrito" for ="agdesmoldante_agua_forma_resinada_1_10">Litros de agua:</label>
                        <input type="number" id="agdesmoldante_agua_forma_resinada_1_10" name="agdesmoldante_agua_forma_resinada_1_10">
                    </div>

                </div>
            </fieldset>

        </div>

    </section>

    <section id="agdesmoldante-eco" class="principal principal-escuro">

        <div class="titulo">
            <h2>Calculo Consumo AG.desmoldante ECO</h2>
        </div>

        <div class="link-conteudo link-conteudo-escuro">

            <fieldset class="moldura-verde">
                <div class="grid-2col-numero">

                    <label for ="m2_agdesmoldante_eco">Area de aplicação (m²):</label>
                    <input type="number" id="m2_agdesmoldante_eco" name="m2_agdesmoldante_eco">

                </div>

            </fieldset>

            <div>
                <button class="botao botao-escuro" type="button" onclick="calcular_agdesmoldante_eco()">Calcular</button>
            </div>

            <fieldset class="moldura-verde">
                <div class="grid-simples">
                    <p class="branco-negrito">Rendimento 0,045 L/m²</p>

                    <div class="grid-2col-numero">
                        <label class="verde-negrito" for ="agdesmoldante_eco_rendimento_0045">Litros de AG.desmoldante ECO:</label>
                        <input type="number" id="agdesmoldante_eco_rendimento_0045" name="agdesmoldante_eco_rendimento_0045">
                    </div>
                </div>
            </fieldset>

            <fieldset class="moldura-verde">
                <div class="grid-simples">
                    <p class="branco-negrito">Rendimento 0,065 L/m²</p>

                    <div class="grid-2col-numero">
                        <label class="verde-negrito" for ="agdesmoldante_eco_rendimento_0065">Litros de AG.desmoldante ECO:</label>
                        <input type="number" id="agdesmoldante_eco_rendimento_0065" name="agdesmoldante_eco_rendimento_0065">
                    </div>
                </div>
            </fieldset>

        </div>

    </section>

    <section id="agdesmoldante-mineral" class="principal">

        <div class="titulo">
            <h2>Calculo Consumo AG.desmoldante Mineral</h2>
        </div>

        <div class="link-conteudo">

            <fieldset class="moldura-verde">
                <div class="grid-2col-numero">

                    <label for ="m2_agdesmoldante_mineral">Area de aplicação (m²):</label>
                    <input type="number" id="m2_agdesmoldante_mineral" name="m2_agdesmoldante_mineral">

                </div>

            </fieldset>

            <div>
                <button class="botao" type="button" onclick="calcular_agdesmoldante_mineral()">Calcular</button>
            </div>

            <fieldset class="moldura-verde">
                <div class="grid-simples">
                    <p class="azul-negrito">Forma Plastificada</p>
                    <p class="azul-negrito">Rendimento 35 m²/L</p>

                    <div class="grid-2col-numero">
                        <label class="verde-negrito" for ="agdesmoldante_mineral_forma_plastificada_35">Litros de AG.desmoldante Mineral:</label>
                        <input type="number" id="agdesmoldante_mineral_forma_plastificada_35" name="agdesmoldante_mineral_forma_plastificada_35">
                    </div>
                </div>
            </fieldset>

            <fieldset class="moldura-verde">
                <div class="grid-simples">
                    <p class="azul-negrito">Forma Plastificada</p>
                    <p class="azul-negrito">Rendimento 30 m²/L</p>

                    <div class="grid-2col-numero">
                        <label class="verde-negrito" for ="agdesmoldante_mineral_forma_plastificada_30">Litros de AG.desmoldante Mineral:</label>
                        <input type="number" id="agdesmoldante_mineral_forma_plastificada_30" name="agdesmoldante_mineral_forma_plastificada_30">
                    </div>
                </div>
            </fieldset>

            <fieldset class="moldura-verde">
                <div class="grid-simples">
                    <p class="azul-negrito">Forma Resinada</p>
                    <p class="azul-negrito">Rendimento 12 m²/L</p>

                    <div class="grid-2col-numero">
                        <label class="verde-negrito" for ="agdesmoldante_mineral_forma_resinada_12">Litros de AG.desmoldante Mineral:</label>
                        <input type="number" id="agdesmoldante_mineral_forma_resinada_12" name="agdesmoldante_mineral_forma_resinada_12">
                    </div>
                </div>
            </fieldset>

            <fieldset class="moldura-verde">
                <div class="grid-simples">
                    <p class="azul-negrito">Forma Resinada</p>
                    <p class="azul-negrito">Rendimento 10 m²/L</p>

                    <div class="grid-2col-numero">
                        <label class="verde-negrito" for ="agdesmoldante_mineral_forma_resinada_10">Litros de AG.desmoldante Mineral:</label>
                        <input type="number" id="agdesmoldante_mineral_forma_resinada_10" name="agdesmoldante_mineral_forma_resinada_10">
                    </div>
                </div>
            </fieldset>

        </div>

    </section>

    <section id="agcura" class="principal principal-escuro">

        <div class="titulo">
            <h2>Calculo Consumo AG.cura</h2>
        </div>

        <div class="link-conteudo link-conteudo-escuro">

            <fieldset class="moldura-verde">
                <div class="grid-2col-numero">

                    <label for ="m2_agcura">Area de aplicação (m²):</label>
                    <input type="number" id="m2_agcura" name="m2_agcura">

                </div>

            </fieldset>

            <div>
                <button class="botao botao-escuro" type="button" onclick="calcular_agcura()">Calcular</button>
            </div>

            <fieldset class="moldura-verde">
                <div class="grid-simples">
                    <div class="grid-2col-numero">
                        <label class="verde-negrito" for ="agcura_litros">Litros de AG.cura:</label>
                        <input type="number" id="agcura_litros" name="agcura">
                    </div>
                </div>
            </fieldset>

        </div>

    </section>

    <section id="agcura-premium" class="principal">

        <div class="titulo">
            <h2>Calculo Consumo AG.cura PREMIUM</h2>
        </div>

        <div class="link-conteudo">

            <fieldset class="moldura-verde">
                <div class="grid-2col-numero">

                    <label for ="m2_agcura_premium">Area de aplicação (m²):</label>
                    <input type="number" id="m2_agcura_premium" name="m2_agcura_premium">

                </div>

            </fieldset>

            <div>
                <button class="botao" type="button" onclick="calcular_agcura_premium()">Calcular</button>
            </div>

            <fieldset class="moldura-verde">
                <div class="grid-simples">
                    <div class="grid-2col-numero">
                        <label class="verde-negrito" for ="agcura_premium_litros">Litros de AG.cura PREMIUM:</label>
                        <input type="number" id="agcura_premium_litros" name="agcura_premium">
                    </div>
                </div>
            </fieldset>

        </div>

    </section>

    <section id="agcura-acrilico" class="principal principal-escuro">

        <div class="titulo">
            <h2>Calculo Consumo AG.cura ACRILICO</h2>
        </div>

        <div class="link-conteudo link-conteudo-escuro">

            <fieldset class="moldura-verde">
                <div class="grid-2col-numero">

                    <label for ="m2_agcura_acrilico">Area de aplicação (m²):</label>
                    <input type="number" id="m2_agcura_acrilico" name="m2_agcura_acrilico">

                </div>

            </fieldset>

            <div>
                <button class="botao botao-escuro" type="button" onclick="calcular_agcura_acrilico()">Calcular</button>
            </div>

            <fieldset class="moldura-verde">
                <div class="grid-simples">
                    <div class="grid-2col-numero">
                        <label class="verde-negrito" for ="agcura_acrilico_litros">Litros de AG.cura ACRILICO:</label>
                        <input type="number" id="agcura_acrilico_litros" name="agcura_acrilico">
                    </div>
                </div>
            </fieldset>

        </div>

    </section>

{% endblock conteudo %}