{% extends "home/base.html" %}

{% block conteudo %}

    <section class="principal">

        <div class="titulo">
            <h1><p>Consultoria de Vendas</p></h1>
        </div>

        <div class="titulo">
            <h2><p>Calculos</p></h2>
        </div>

        <div class="link-conteudo">

            <div class="grid grid-icones-grandes">
                {% for home_link in home_links %}
                    <div class="icones icones-medios">
                        {% if home_link.link_externo %}
                            <a href="{{ home_link.url_externo }}">
                        {% else %}
                            <a href="{% url "home:home_link" home_link.slug %}">
                        {% endif %}
                                <div class="icones-grandes-texto icones-fundo-azul">
                                    <p>{{ home_link.titulo }}</p>
                                </div>
                            </a>
                    </div>
                {% endfor %}
            </div>

        </div>

    </section>

{% endblock conteudo %}