{% extends "home/base.html" %}

{% block conteudo %}

<div class="grid grid-icones-pequenos">
    <div class="icones icones-pequenos">
        <a href="#"><img src="/media/imagens_provisorias/icone_pequeno.png" alt=""></a>
    </div>
    <div class="icones icones-pequenos">
        <a href="#"><img src="/media/imagens_provisorias/icone_pequeno.png" alt=""></a>
    </div>
    <div class="icones icones-pequenos">
        <a href="#"><img src="/media/imagens_provisorias/icone_pequeno.png" alt=""></a>
    </div>
    <div class="icones icones-pequenos">
        <a href="#"><img src="/media/imagens_provisorias/icone_pequeno.png" alt=""></a>
    </div>
    <div class="icones icones-pequenos">
        <a href="#"><img src="/media/imagens_provisorias/icone_pequeno.png" alt=""></a>
    </div>
    <div class="icones icones-pequenos">
        <a href="#"><img src="/media/imagens_provisorias/icone_pequeno.png" alt=""></a>
    </div>
    <div class="icones icones-pequenos">
        <a href="#"><img src="/media/imagens_provisorias/icone_pequeno.png" alt=""></a>
    </div>
    <div class="icones icones-pequenos">
        <a href="#"><img src="/media/imagens_provisorias/icone_pequeno.png" alt=""></a>
    </div>
    <div class="icones icones-pequenos">
        <a href="#"><img src="/media/imagens_provisorias/icone_pequeno.png" alt=""></a>
    </div>
    <div class="icones icones-pequenos">
        <a href="#"><img src="/media/imagens_provisorias/icone_pequeno.png" alt=""></a>
    </div>
</div>

<div class="grid grid-icones-medios">
    <div class="icones icones-medios">
        <a href="#"><img src="/media/imagens_provisorias/icone_medio.png" alt=""></a>
    </div>
    <div class="icones icones-medios">
        <a href="#"><img src="/media/imagens_provisorias/icone_medio.png" alt=""></a>
    </div>
    <div class="icones icones-medios">
        <a href="#"><img src="/media/imagens_provisorias/icone_medio.png" alt=""></a>
    </div>
    <div class="icones icones-medios">
        <a href="#"><img src="/media/imagens_provisorias/icone_medio.png" alt=""></a>
    </div>
    <div class="icones icones-medios">
        <a href="#"><img src="/media/imagens_provisorias/icone_medio.png" alt=""></a>
    </div>
    <div class="icones icones-medios">
        <a href="#"><img src="/media/imagens_provisorias/icone_medio.png" alt=""></a>
    </div>
    <div class="icones icones-medios">
        <a href="#"><img src="/media/imagens_provisorias/icone_medio.png" alt=""></a>
    </div>
    <div class="icones icones-medios">
        <a href="#"><img src="/media/imagens_provisorias/icone_medio.png" alt=""></a>
    </div>
    <div class="icones icones-medios">
        <a href="#"><img src="/media/imagens_provisorias/icone_medio.png" alt=""></a>
    </div>
</div>

{% endblock conteudo %}