{% extends "home/base.html" %}

{% block conteudo %}

    <section style="background-image: url('/media/imagens_provisorias/fundo.png');" class="principal">

        <div class="grid grid-icones-pequenos">
            <div class="icones icones-pequenos">
                <a href="#"><img src="/media/imagens_provisorias/icone_pequeno.png" alt=""></a>
            </div>
            <div class="icones icones-pequenos">
                <a href="#"><img src="/media/imagens_provisorias/icone_pequeno.png" alt=""></a>
            </div>
            <div class="icones icones-pequenos">
                <a href="#"><img src="/media/imagens_provisorias/icone_pequeno.png" alt=""></a>
            </div>
            <div class="icones icones-pequenos">
                <a href="#"><img src="/media/imagens_provisorias/icone_pequeno.png" alt=""></a>
            </div>
            <div class="icones icones-pequenos">
                <a href="#"><img src="/media/imagens_provisorias/icone_pequeno.png" alt=""></a>
            </div>
            <div class="icones icones-pequenos">
                <a href="#"><img src="/media/imagens_provisorias/icone_pequeno.png" alt=""></a>
            </div>
        </div>

        <div class="grid grid-icones-medios">
            <div class="icones icones-medios">
                <a href="#"><img src="/media/imagens_provisorias/icone_medio.png" alt=""></a>
            </div>
            <div class="icones icones-medios">
                <a href="#"><img src="/media/imagens_provisorias/icone_medio.png" alt=""></a>
            </div>
            <div class="icones icones-medios">
                <a href="#"><img src="/media/imagens_provisorias/icone_medio.png" alt=""></a>
            </div>
            <div class="icones icones-medios">
                <a href="#"><img src="/media/imagens_provisorias/icone_medio.png" alt=""></a>
            </div>
            <div class="icones icones-medios">
                <a href="#"><img src="/media/imagens_provisorias/icone_medio.png" alt=""></a>
            </div>
            <div class="icones icones-medios">
                <a href="#"><img src="/media/imagens_provisorias/icone_medio.png" alt=""></a>
            </div>
            <div class="icones icones-medios">
                <a href="#"><img src="/media/imagens_provisorias/icone_medio.png" alt=""></a>
            </div>
            <div class="icones icones-medios">
                <a href="#"><img src="/media/imagens_provisorias/icone_medio.png" alt=""></a>
            </div>
        </div>

        <div class="grid grid-icones-grandes">
            <div class="icones icones-grandes">
                <a href="#">
                    <div class="icones-grandes-imagem">
                        <img src="/media/imagens_provisorias/icone_grande.png" alt="">
                    </div>
                    <div class="icones-grandes-texto">
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </a>
            </div>
            <div class="icones icones-grandes">
                <a href="#">
                    <div class="icones-grandes-imagem">
                        <img src="/media/imagens_provisorias/icone_grande.png" alt="">
                    </div>
                    <div class="icones-grandes-texto">
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </a>
            </div>
            <div class="icones icones-grandes">
                <a href="#">
                    <div class="icones-grandes-imagem">
                        <img src="/media/imagens_provisorias/icone_grande.png" alt="">
                    </div>
                    <div class="icones-grandes-texto">
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </a>
            </div>
            <div class="icones icones-grandes">
                <a href="#">
                    <div class="icones-grandes-imagem">
                        <img src="/media/imagens_provisorias/icone_grande.png" alt="">
                    </div>
                    <div class="icones-grandes-texto">
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </a>
            </div>
            <div class="icones icones-grandes">
                <a href="#">
                    <div class="icones-grandes-imagem">
                        <img src="/media/imagens_provisorias/icone_grande.png" alt="">
                    </div>
                    <div class="icones-grandes-texto">
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </a>
            </div>
            <div class="icones icones-grandes">
                <a href="#">
                    <div class="icones-grandes-imagem">
                        <img src="/media/imagens_provisorias/icone_grande.png" alt="">
                    </div>
                    <div class="icones-grandes-texto">
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </a>
            </div>
            <div class="icones icones-grandes">
                <a href="#">
                    <div class="icones-grandes-imagem">
                        <img src="/media/imagens_provisorias/icone_grande.png" alt="">
                    </div>
                    <div class="icones-grandes-texto">
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </a>
            </div>
            <div class="icones icones-grandes">
                <a href="#">
                    <div class="icones-grandes-imagem">
                        <img src="/media/imagens_provisorias/icone_grande.png" alt="">
                    </div>
                    <div class="icones-grandes-texto">
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </a>
            </div>
            <div class="icones icones-grandes">
                <a href="#">
                    <div class="icones-grandes-imagem">
                        <img src="/media/imagens_provisorias/icone_grande.png" alt="">
                    </div>
                    <div class="icones-grandes-texto">
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </a>
            </div>
            <div class="icones icones-grandes">
                <a href="#">
                    <div class="icones-grandes-imagem">
                        <img src="/media/imagens_provisorias/icone_grande.png" alt="">
                    </div>
                    <div class="icones-grandes-texto">
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </a>
            </div>
            <div class="icones icones-grandes">
                <a href="#">
                    <div class="icones-grandes-imagem">
                        <img src="/media/imagens_provisorias/icone_grande.png" alt="">
                    </div>
                    <div class="icones-grandes-texto">
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </a>
            </div>
            <div class="icones icones-grandes">
                <a href="#">
                    <div class="icones-grandes-imagem">
                        <img src="/media/imagens_provisorias/icone_grande.png" alt="">
                    </div>
                    <div class="icones-grandes-texto">
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </a>
            </div>
            <div class="icones icones-grandes">
                <a href="#">
                    <div class="icones-grandes-imagem">
                        <img src="/media/imagens_provisorias/icone_grande.png" alt="">
                    </div>
                    <div class="icones-grandes-texto">
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </a>
            </div>
            <div class="icones icones-grandes">
                <a href="#">
                    <div class="icones-grandes-imagem">
                        <img src="/media/imagens_provisorias/icone_grande.png" alt="">
                    </div>
                    <div class="icones-grandes-texto">
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </a>
            </div>
            <div class="icones icones-grandes">
                <a href="#">
                    <div class="icones-grandes-imagem">
                        <img src="/media/imagens_provisorias/icone_grande.png" alt="">
                    </div>
                    <div class="icones-grandes-texto">
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </a>
            </div>
            <div class="icones icones-grandes">
                <a href="#">
                    <div class="icones-grandes-imagem">
                        <img src="/media/imagens_provisorias/icone_grande.png" alt="">
                    </div>
                    <div class="icones-grandes-texto">
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </a>
            </div>
            <div class="icones icones-grandes">
                <a href="#">
                    <div class="icones-grandes-imagem">
                        <img src="/media/imagens_provisorias/icone_grande.png" alt="">
                    </div>
                    <div class="icones-grandes-texto">
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </a>
            </div>
            <div class="icones icones-grandes">
                <a href="#">
                    <div class="icones-grandes-imagem">
                        <img src="/media/imagens_provisorias/icone_grande.png" alt="">
                    </div>
                    <div class="icones-grandes-texto">
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </a>
            </div>
            <div class="icones icones-grandes">
                <a href="#">
                    <div class="icones-grandes-imagem">
                        <img src="/media/imagens_provisorias/icone_grande.png" alt="">
                    </div>
                    <div class="icones-grandes-texto">
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </a>
            </div>
            <div class="icones icones-grandes">
                <a href="#">
                    <div class="icones-grandes-imagem">
                        <img src="/media/imagens_provisorias/icone_grande.png" alt="">
                    </div>
                    <div class="icones-grandes-texto">
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </a>
            </div>
            <div class="icones icones-grandes">
                <a href="#">
                    <div class="icones-grandes-imagem">
                        <img src="/media/imagens_provisorias/icone_grande.png" alt="">
                    </div>
                    <div class="icones-grandes-texto">
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </a>
            </div>
            <div class="icones icones-grandes">
                <a href="#">
                    <div class="icones-grandes-imagem">
                        <img src="/media/imagens_provisorias/icone_grande.png" alt="">
                    </div>
                    <div class="icones-grandes-texto">
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </a>
            </div>
            <div class="icones icones-grandes">
                <a href="#">
                    <div class="icones-grandes-imagem">
                        <img src="/media/imagens_provisorias/icone_grande.png" alt="">
                    </div>
                    <div class="icones-grandes-texto">
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </a>
            </div>
            <div class="icones icones-grandes">
                <a href="#">
                    <div class="icones-grandes-imagem">
                        <img src="/media/imagens_provisorias/icone_grande.png" alt="">
                    </div>
                    <div class="icones-grandes-texto">
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </a>
            </div>
        </div>

    </section>

{% endblock conteudo %}