{% extends "rh/base.html" %}

{% block conteudo %}

    <section class="principal">

        <div class="link-conteudo">
            <div class="titulo">
                <h1>RH</h1>
            </div>
        </div>

        <div class="link-conteudo">
            <div class="grid-simples">
                <a href="{% url "rh:recibo-vale-transporte" %}"><div class="botao-div">Recibo Vale Transporte</div></a>
                <a href="{% url "rh:ferias-em-aberto" %}"><div class="botao-div">Ferias Em Aberto</div></a>
            </div>
        </div>

    </section>

{% endblock conteudo %}