{% extends "analysis/base.html" %}

{% load custom_filters %}

{% block conteudo %}

    <section class="principal">

        <div class="link-conteudo">
            <div class="titulo">
                <h1>{{  titulo_pagina  }}</h1>
            </div>
        </div>

        <div class="link-conteudo">

            {% if erros %}
                <p>{{ erros }}</p>
            {% endif %}

            <div class="grid moldura-verde">
                {% if quantidade_clientes %}
                    <div>
                        <p class="fonte-verde">Cadastros Ativos</p>
                        <p>{{  quantidade_clientes  }}</p>
                    </div>
                {% endif %}

                {% if quantidade_eventos_em_aberto %}
                    <div>
                        <p class="fonte-verde">Eventos Em Aberto</p>
                        <p>{{  quantidade_eventos_em_aberto  }}</p>
                    </div>
                {% endif %}

                {% if quantidade_eventos_em_atraso %}
                    <div>
                        <p class="fonte-verde">Eventos Em Atraso</p>
                        <p>{{  quantidade_eventos_em_atraso  }}</p>
                    </div>
                {% endif %}
            </div>

            <div class="grid moldura-verde">
                {% if quantidade_tipos %}
                    <div>
                        <p class="fonte-verde">Tipos</p>
                        {% for tipo in quantidade_tipos %}
                            <p>{{  tipo.SEGMENTO  }} ({{  tipo.QUANTIDADE  }})</p>
                        {% endfor %}
                    </div>
                {% endif %}

                {% if quantidade_carteiras %}
                    <div>
                        <p class="fonte-verde">Carteiras</p>
                        {% for carteira in quantidade_carteiras %}
                            <p>{{  carteira.CARTEIRA  }} ({{  carteira.QUANTIDADE  }})</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="grid moldura-verde">
                {% if ultimo_orcamento_aberto %}
                    <div>
                        <p class="fonte-verde">Ultimo Orçamento</p>
                        <p>{{  ultimo_orcamento_aberto | date:'d/m/Y' }}</p>
                    </div>
                {% endif %}

                {% if media_dias_orcamento_para_pedido %}
                    <div>
                        <p class="fonte-verde">Média para fechar orçamento</p>
                        <p>{{  media_dias_orcamento_para_pedido  }} dia(s)</p>
                    </div>
                {% endif %}

                {% if ultimo_pedido %}
                    <div>
                        <p class="fonte-verde">Ultimo Pedido</p>
                        <p>{{  ultimo_pedido | date:'d/m/Y' }}</p>
                    </div>
                {% endif %}
            </div>

            <div>
                {{  grafico_historico_html|safe  }}
            </div>
            
            <div>
                {{  grafico_produtos_html|safe  }}
            </div>

            <div>
                <div>
                    {{  grafico_historico_orcamentos_html|safe  }}
                </div>

                <div>
                    {% if previsao %}
                        <p>RMSE da previsão: R$ {{  previsao.rmse | floatformat:2  }} (Menor melhor)</p>
                        <p>R² da previsão: {{  previsao.r_squared | floatformat:0  }}% (Maior melhor)</p>
                        <p>Método: {{  previsao.metodo  }}</p>
                    {% endif %}
                </div>
            </div>

        </div>

        {% if tags_contagem %}
            <div class="link-conteudo grid">
                {% for tag, contagem in tags_contagem %}
                    <a target="_blank" href="{% url "home:produtos-modelos" %}?pesquisar={{ tag.descricao }}">
                        <div class="tag">{{ tag.descricao }} ({{ contagem }})</div>
                    </a>
                {% endfor %}
            </div>
        {% endif %}

        {% if sugestoes_contagem %}
            <div class="link-conteudo alinhar-esquerda">
                <h2 class="titulo-2 fonte-verde">Sugestões</h2>
                <div class="grid">
                    {% for sugestao, contagem in sugestoes_contagem %}
                        <div class="botao-div-2">
                            <div>
                                <a target="_blank" href="{% url "home:produtos-modelo" sugestao.id %}">
                                    {% if sugestao.imagem %}
                                        <div>
                                            <img loading="lazy" src="{{ sugestao.imagem.url }}">
                                        </div>
                                    {% endif %}
                                    <div>
                                        {{ sugestao.descricao }}
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

    </section>

{% endblock conteudo %}