:root {
    --azul-escuro: rgb(0, 50, 105);
    --azul-escuro-2: hsl(211, 100%, 15%);
    --azul-claro: rgb(95, 144, 196);

    --verde-claro: rgb(189, 198, 56);

    --cinza-claro: rgb(238, 238, 238);
    --cinza-escuro: rgb(106, 115, 113);

    --branco: rgb(255, 255, 255);

    --vermelho-escuro: rgb(222, 28, 2);

    --verde-rentabilidade: hsl(95.2, 100%, 35%);
    --vermelho-rentabilidade: rgb(222, 28, 2);
    --amarelo-rentabilidade: rgb(239, 213, 0);
    --roxo-rentabilidade: hsl(280, 100%, 40%);
    --roxo-rentabilidade-2: hsl(293, 100%, 50%);

    --tamanho-borda-icones: 0.2rem;

    --tamanho-fonte-h1: 5rem;
    --tamanho-fonte-h2: 4rem;

    --tamanho-fonte-p: 2rem;
    --tamanho-linha-p: 2.5rem;
    --tamanho-linha-tabela-p: 3rem;

    --tamanho-fonte-p-grande: 3rem;

    --tamanho-fonte-p-pequeno: 1.5rem;

    --tamanho-fonte-p-dashboard: 3.5rem;
    --tamanho-linha-p-dashboard: 4rem;

    --tamanho-fonte-p-dashboard-muito-pequeno: 1.5rem;

    --tamanho-fonte-p-dashboard-pequeno: 3rem;
    --tamanho-linha-p-dashboard-pequeno: 3.5rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}


body,
textarea {
    font-family: 'Segoe UI', Arial, sans-serif;
}

h1 {
    font-size: var(--tamanho-fonte-h1);
}

h2 {
    font-size: var(--tamanho-fonte-h2);
}

p,
label,
input,
textarea,
button,
.botao-div {
    font-size: var(--tamanho-fonte-p);
    line-height: var(--tamanho-linha-p);
    padding: 0 0.5rem;
}

input[type=checkbox] {
    width: var(--tamanho-fonte-p);
    height: var(--tamanho-fonte-p);
}

form p {
    padding: 0.5rem 0.5rem;
}

input,
textarea {
    color: var(--azul-escuro);
    outline: none;
    border: none;
}

input:focus,
textarea:focus {
    box-shadow: 0 0 0.5rem 0.2rem var(--verde-claro);
}


.cabecalho {
    background-color: var(--azul-escuro);
    color: var(--branco);
    border-bottom: 0.5rem solid var(--verde-claro);
    justify-content: center;
    text-align: center;
}

.cabecalho div {
    padding: 1rem;
}

.rodape {
    background-color: var(--azul-escuro);
    color: var(--branco);
    border-top: 0.5rem solid var(--verde-claro);
    justify-content: center;
    text-align: center;
}

.rodape div {
    padding: 1rem;
}

.rodape p,
.fonte-p-pequeno {
    font-size: var(--tamanho-fonte-p-pequeno);
}

.principal {
    background-color: var(--cinza-claro);
    color: var(--azul-escuro);
    min-height: 100vh;
    background-size: cover;
    background-position: center center;
}

.principal-escuro {
    background-color: var(--azul-escuro);
    color: var(--branco);
}

.principal-escuro-2 {
    background-color: var(--azul-escuro-2);
    color: var(--branco);
}

.principal-azul-claro {
    background-color: var(--azul-claro);
    color: var(--branco);
}

.logo-img {
    width: 100%;
    max-width: 29rem;
    max-height: 10rem;
}

.grid {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 1rem;
}

.grid-icones-pequenos {
    max-width: 54rem;
}

.grid-icones-comunicados,
.grid-icones-medios,
.grid-icones-grandes {
    max-width: 116rem;
}

.icones {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 1.5rem;
    border: var(--tamanho-borda-icones) solid var(--verde-claro);
    transition: all 200ms ease-in-out;
    box-shadow: 0.3rem 0.3rem 0.5rem 0.1rem var(--azul-escuro);
}

.icones:hover {
    transform: scale(1.05);
}

.icones-comunicados {
    border: var(--tamanho-borda-icones) solid var(--vermelho-escuro);
    box-shadow: none;
    max-width: calc(111.6rem + 2 * var(--tamanho-borda-icones));
    width: auto;
    height: auto;
}

.icones-comunicados:hover {
    transform: none;
}

.icones-comunicados img {
    max-width: 111.6rem;
    width: 100%;
    height: 100%;
}

.icones-pequenos {
    max-width: calc(7rem + 2 * var(--tamanho-borda-icones));
    max-height: calc(7rem + 2 * var(--tamanho-borda-icones));
}

.icones-pequenos img {
    width: 7rem;
    height: 7rem;
}

.icones-medios {
    max-width: calc(21rem + 2 * var(--tamanho-borda-icones));
    max-height: calc(7rem + 2 * var(--tamanho-borda-icones));
}

.icones-medios img {
    width: 21rem;
    height: 7rem;
}

.icones-grandes {
    max-width: calc(21rem + 2 * var(--tamanho-borda-icones));
    max-height: calc(21rem + 2 * var(--tamanho-borda-icones));
}

.icones-grandes img,
.icones-grandes-imagem {
    width: 21rem;
    height: 16rem;
}

.icones-grandes p,
.icones-grandes-texto {
    width: 21rem;
    height: 5rem;
    color: var(--azul-escuro);
    background-color: var(--verde-claro);
    text-align: center;
    align-content: center;
    justify-content: center;
}

.icones-fundo-azul {
    color: var(--branco);
    background-color: var(--azul-escuro);
}

.titulo {
    padding: 2rem;
    color: var(--verde-claro);
    text-align: center;
    text-transform: uppercase;
}

.link-conteudo {
    padding: 2rem;
    color: var(--azul-escuro);
    text-align: center;
    align-content: center;
    justify-content: center;
    max-width: 120rem;
    margin: 0 auto;
}

.link-conteudo table {
    margin: 0 auto;
}

.link-conteudo img {
    max-width: 100%;
    border: var(--tamanho-borda-icones) solid var(--verde-claro);
}

.link-conteudo-escuro {
    color: var(--branco);
}

.moldura-verde {
    padding: 2rem;
    border: var(--tamanho-borda-icones) solid var(--verde-claro);
    border-radius: 1.5rem;
    width: fit-content;
    text-align: center;
    align-content: center;
    justify-content: center;
    margin: 2rem auto;
}

.moldura-verde textarea {
    width: 100%;
}

.grid-2col-numero {
    display: grid;
    grid-template-columns: auto 8rem;
    gap: 0.5rem;
    text-align: right;
}

.grid-simples {
    display: grid;
    gap: 0.5rem;
    width: fit-content;
    margin: 0 auto;
}

.grid-2col-numero2 {
    display: grid;
    grid-template-columns: max-content auto;
    gap: 0.5rem;
}

.verde-negrito {
    font-weight: bolder;
    color: var(--verde-claro);
}

.fonte-verde {
    color: var(--verde-claro);
}

.vermelho-negrito {
    font-weight: bolder;
    color: var(--vermelho-escuro);
}

.fonte-vermelho {
    color: var(--vermelho-escuro);
}

.azul-negrito {
    font-weight: bolder;
    color: var(--azul-escuro);
}

.fonte-azul {
    color: var(--azul-escuro);
}

.branco-negrito {
    font-weight: bolder;
    color: var(--branco);
}

.fonte-branco {
    color: var(--branco);
}

.cinza-negrito {
    font-weight: bolder;
    color: var(--cinza-claro);
}

.fonte-cinza {
    color: var(--cinza-claro);
}

.botao,
.botao-div {
    padding: 1rem;
    border: var(--tamanho-borda-icones) solid var(--verde-claro);
    background: var(--azul-escuro);
    color: var(--branco);
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.botao-escuro {
    background: var(--verde-claro);
    color: var(--azul-escuro);
}

.botao:hover,
.botao-div:hover {
    background: var(--verde-claro);
    color: var(--azul-escuro);
}

.botao-escuro:hover {
    background: var(--azul-escuro);
    color: var(--branco);
}

.topo {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 6rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: var(--tamanho-fonte-p-grande);
}

@property --valor-pizza {
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
}

.pie {
    --valor-pizza: 20;
    --largura-barra: 3rem;
    --cor-barra: var(--azul-escuro);
    --largura-grafico: 33rem;
    --tamanho-fonte: 8.5rem;

    width: var(--largura-grafico);
    aspect-ratio: 1;
    position: relative;
    display: inline-grid;
    /* margin: 5px; */
    margin: 0;
    place-content: center;
    /* font-size: 5.5rem; */
    font-size: var(--tamanho-fonte);
    /* font-weight: bold; */
    /* font-family: sans-serif; */
}

.pie:before,
.pie:after {
    content: "";
    position: absolute;
    border-radius: 50%;
}

.pie:before {
    inset: 0;
    background:
        radial-gradient(farthest-side, var(--cor-barra) 98%, #0000) top/var(--largura-barra) var(--largura-barra) no-repeat,
        conic-gradient(var(--cor-barra) calc(var(--valor-pizza)*1%), #0000 0);
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(99% - var(--largura-barra)), #000 calc(100% - var(--largura-barra)));
    mask: radial-gradient(farthest-side, #0000 calc(99% - var(--largura-barra)), #000 calc(100% - var(--largura-barra)));
}

.pie:after {
    inset: calc(50% - var(--largura-barra)/2);
    background: var(--cor-barra);
    transform: rotate(calc(var(--valor-pizza)*3.6deg)) translateY(calc(50% - var(--largura-grafico)/2));
}

.animate {
    animation: valor-pizza 1s .5s both;
}

.no-round:before {
    background-size: 0 0, auto;
}

.no-round:after {
    content: none;
}

@keyframes valor-pizza {
    from {
        --valor-pizza: 0
    }
}

.dashboard-vendas-conteudo {
    padding: 0.5rem;
    color: var(--azul-escuro);
    text-align: center;
    align-content: center;
    justify-content: center;
    min-width: 36rem;
    margin: 0 auto;
    /* font-weight: bold; */
}

.dashboard-vendas-conteudo-escuro {
    color: var(--branco);
}

.div-dashboard {
    width: fit-content;
    text-align: center;
    align-content: center;
    justify-content: center;
    margin: 0.5rem auto;
}

.div-dashboard p,
.div-dashboard-agenda p {
    font-size: var(--tamanho-fonte-p-dashboard-pequeno);
    line-height: var(--tamanho-linha-p-dashboard-pequeno);
    padding: 0 0.5rem;
}

.div-dashboard-agenda {
    width: fit-content;
    text-align: center;
    align-content: center;
    justify-content: center;
    margin: 0.5rem auto;
}

.div-dashboard-agenda-dias {
    width: fit-content;
    text-align: center;
    align-content: center;
    justify-content: center;
    margin: 0.5rem auto;
}

.div-dashboard-agenda-dias p {
    text-align: center;
    font-size: var(--tamanho-fonte-p);
    line-height: var(--tamanho-linha-p);
    padding: 0 0.5rem;
}

.div-dashboard .fonte-muito-pequena-dashboard {
    font-size: var(--tamanho-fonte-p-dashboard-muito-pequeno);
}

.pie p {
    font-size: var(--tamanho-fonte-p-dashboard-pequeno);
    line-height: var(--tamanho-linha-p-dashboard-pequeno);
}

.moldura-verde-dashboard {
    padding: 0.5rem;
    border: var(--tamanho-borda-icones) solid var(--verde-claro);
    border-radius: 1.5rem;
    width: fit-content;
    text-align: center;
    align-content: center;
    justify-content: center;
}

.moldura-vermelha-dashboard {
    padding: 2rem;
    border: var(--tamanho-borda-icones) solid var(--vermelho-escuro);
    border-radius: 1.5rem;
    width: fit-content;
    text-align: center;
    align-content: center;
    justify-content: center;
}

.div-dashboard-erros {
    width: fit-content;
    text-align: left;
    align-content: center;
    justify-content: center;
    margin: 0rem auto;
}

.div-dashboard-erros p {
    font-size: var(--tamanho-fonte-p-dashboard);
    line-height: var(--tamanho-linha-p-dashboard);
    padding: 0 0.5rem;
}

.grid-dashboard {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.grid-dashboard-largura-maxima {
    max-width: 35rem;
}

.grid-dashboard-2 {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin: 0 auto;
    text-align: center;
    align-content: center;
    justify-content: center;
}

.grid-dashboard div {
    text-align: center;
    align-content: center;
    justify-content: center;
}

.tabela-preco {
    padding: 2rem;
    color: var(--azul-escuro);
    text-align: center;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
}

.tabela-preco table {
    margin: 0 auto;
    font-size: var(--tamanho-fonte-p);
    line-height: var(--tamanho-linha-tabela-p);
    border-collapse: collapse;
}

.tabela-preco table,
.tabela-preco th,
.tabela-preco td,
.tabela-preco tr {
    border: none;
}

@media (max-width: 570px) {
    .grid-2col-numero {
        grid-template-columns: auto;
        text-align: center;
    }

    .grid-2col-numero2 {
        grid-template-columns: auto;
    }
}

@media (max-width: 1349px) {
    .grid-dashboard {
        display: block;
    }
}