{% extends "home/base.html" %}

{% load custom_filters %}

{% block conteudo %}

    <section class="principal principal-escuro">

        <div class="link-conteudo link-conteudo-escuro">
            <div class="titulo">
                <h1>{{  titulo_pagina  }}</h1>
            </div>

            <form id="form" method="get">
                <div class="grid-simples link-conteudo link-conteudo-escuro">
                    {{ formulario.as_p }}
                </div>
                <div class="grid-simples">
                    <button class="botao botao-escuro" name="atualizar-submit" type="submit">Atualizar</button>
                </div>
            </form>
        </div>

        <div class="link-conteudo link-conteudo-escuro">

            {% if erros %}
                <p>{{ erros }}</p>
            {% endif %}

            {% if dados %}

                <div class="tabela-simples">
                    <table>
                        <tr class="principal-claro">
                            <th>Produto</th>
                            <th>R$ Venda</th>
                            <th>Desconto %</th>
                            <th>MC %</th>
                            <th></th>
                        </tr>
                        {% for dado in dados %}
                            <tr class="{% cycle 'principal-azul-claro' 'principal-claro' %} {% if dado.VALOR_MERCADORIAS < 0 %}fonte-vermelho{% endif %}">
                                <td>{{ dado.PRODUTO }}</td>
                                <td>R$ {{ dado.PRECO_VENDA | floatformat:2 }}</td>
                                <td>{{ dado.DESCONTO | floatformat:2 }}%</td>
                                <td>{{ dado.MC | floatformat:2 }}%</td>
                                <td class="fonte-cinza" style="background-color: var({{ dado.MC_COR | cor_rentabilidade_css }});"></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>

            {% endif %}

        </div>

    </section>

{% endblock conteudo %}