{% extends "home/base.html" %}

{% load custom_filters %}

{% block conteudo %}

    <section class="principal principal-escuro">

        <div class="link-conteudo link-conteudo-escuro">
            <div class="titulo">
                <h1>{{  titulo_pagina  }}</h1>
            </div>

            <form id="form" method="get">
                <div class="grid-simples link-conteudo link-conteudo-escuro">
                    {{ formulario.as_p }}
                </div>
                <div class="grid-simples">
                    <button class="botao botao-escuro" type="submit">Atualizar</button>
                </div>
            </form>
        </div>

        <div class="link-conteudo link-conteudo-escuro">

            {% if erros %}
                <p>{{ erros }}</p>
            {% endif %}

            {% if dados %}

                <div class="tabela-simples">
                    <table>
                        <tr class="principal-claro">
                            <th>Familia</th>
                            <th>R$ Valor Mercadorias</th>
                        </tr>
                        {% for dado in dados %}
                            <tr class="{% cycle 'principal-azul-claro' 'principal-claro' %}">
                                <td>{{ dado.FAMILIA_PRODUTO }}</td>
                                <td>R$ {{ dado.VALOR_MERCADORIAS | floatformat:2 }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>

            {% endif %}

        </div>

    </section>

{% endblock conteudo %}