{% extends "home/base.html" %}

{% block conteudo %}

    <section class="principal principal-escuro">

        <div class="link-conteudo link-conteudo-escuro">
            <div class="titulo">
                <h1>{{  titulo_pagina  }}</h1>
            </div>

            <form id="form" method="get">
                <div class="grid-simples link-conteudo link-conteudo-escuro">
                    {{ formulario.as_p }}
                </div>
                <div class="grid-simples">
                    <button class="botao botao-escuro" name="atualizar-submit" type="submit">Atualizar</button>
                </div>
            </form>
        </div>

        <div class="link-conteudo link-conteudo-escuro">

            {% if erros %}
                <p>{{ erros }}</p>
            {% endif %}

            {% if dados %}

                <div class="grid">

                    <div class="moldura-verde-dashboard grid principal-escuro-2">
                        <div>
                            <p class="fonte-verde">Leads Total</p>
                            <p>{{ dados.quantidade_leads_total }}</p>
                        </div>
                        <div>
                            <p class="fonte-verde">Leads Validos</p>
                            <p>{{ dados.quantidade_leads_validos }}</p>
                        </div>
                        <div>
                            <p class="fonte-verde">Leads Compraram</p>
                            <p>{{ dados.quantidade_leads_compraram }}</p>
                        </div>
                        <div>
                            <p class="fonte-verde">Taxa de Conversão</p>
                            <p>{{ dados.taxa_conversao | floatformat:2 }}%</p>
                        </div>
                    </div>

                    <div class="moldura-verde-dashboard grid principal-escuro-2">
                        <div>
                            <p class="fonte-verde">Investimentos</p>
                            <p>R$ {{ dados.investimentos | floatformat:2 }}</p>
                        </div>
                        <div>
                            <p class="fonte-verde">Fechado</p>
                            <p>R$ {{ dados.orcamentos_fechados | floatformat:2 }}</p>
                        </div>
                        <div>
                            <p class="fonte-verde">Custo por Lead</p>
                            <p>R$ {{ dados.custo_por_lead | floatformat:2 }}</p>
                        </div>
                        <div>
                            <p class="fonte-verde">ROAS</p>
                            <p>{{ dados.roas | floatformat:2 }}%</p>
                        </div>
                    </div>

                </div>

                <div class="grid">
                    <div class="moldura-verde-dashboard grid principal-escuro-2">
                        <div>
                            {{ dados.grafico_leads_por_canal_origem_html | safe}}
                        </div>
                        <div>
                            {{ dados.grafico_leads_por_regiao_html | safe}}
                        </div>
                    </div>
                </div>

                <div class="div-dashboard principal-escuro">
                    <p>Atualizado em: {% now "d/m/Y H:i:s" %}</p>
                </div>
    
            {% endif %}

        </div>

    </section>

{% endblock conteudo %}