{% extends "home/base.html" %}

{% load custom_filters %}

{% block conteudo %}

    <section class="principal">

        <div class="link-conteudo">
            <div class="titulo">
                <h1>{{  titulo_pagina  }}</h1>
            </div>

            <form method="get" action="#resultado">
                <div class="grid-simples link-conteudo">
                    {% for agrupamento, campos in formulario.get_agrupamentos_campos.items %}
                        <div class="grid-simples link-conteudo">
                            <h3>{{ agrupamento }}</h3>
                            {% for field in formulario %}
                                {% if field.name in campos %}
                                    <div class="grid-2-colunas">
                                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                        {{ field }}
                                        {% if field.help_text %}
                                            <spam class="helptext">
                                                {{ field.help_text }}
                                            </spam>
                                        {% endif %}
                                        {% if field.errors %}
                                            <spam class="error">
                                                {{ field.errors }}
                                            </spam>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>

                <div class="grid-simples">
                    <button class="botao" name="listar-submit" type="submit">Listar</button>
                    <a href="{% url "dashboards:relatorios-financeiros" %}">
                        <div class="botao-div">
                            Limpar Pesquisa
                        </div>
                    </a>
                    {% if dados_dados %}
                        <button class="botao" name="exportar-submit" type="submit">Exportar .xlsx</button>
                    {% endif %}
                </div>
            </form>
        </div>

        

        <div class="link-conteudo">

            {% if erros %}
                <p>{{ erros }}</p>
            {% endif %}

            {% for descricao, dados in dados_dados %}
                <div id="resultado" class="tabela-simples">
                    <h3>{{ descricao }}</h3>
                    <table class="ultima-linha-negrito">
                        <tr>
                            {% for coluna in cabecalho %}
                                <th>{{ coluna }}</th>
                            {% endfor %}
                        </tr>
                        {% for valor in dados %}
                            <tr class="{% cycle 'principal-azul-claro' '' %}">
                                {% for chave, valor in valor.items %}
                                    <td>
                                        {% if chave == 'DOCUMENTO' %}
                                            {{ valor | stringformat:"d" }}
                                        {% elif 'VALOR' in chave %}
                                            {{ valor | floatformat:2 }}
                                        {% else %}
                                            {{ valor }}
                                        {% endif %}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endfor %}

        </div>

    </section>

{% endblock conteudo %}