{% extends "home/base.html" %}

{% load custom_filters %}

{% block conteudo %}

    {% if dados.confere_pedidos %}
        <section class="principal principal-escuro">
            <div class="dashboard-vendas-conteudo dashboard-vendas-conteudo-escuro">
                <div class="moldura-vermelha-dashboard div-dashboard-erros principal-escuro-2">
                    <div class="div-dashboard">
                        <p class="fonte-vermelho">ERROS</p>
                    </div>
                    {% for pedido in dados.confere_pedidos %}
                        <p><span class="fonte-verde">{{ pedido.PEDIDO | stringformat:"d" }} - {{ pedido.CONSULTOR }}</span> - {{ pedido.ERRO }}</p>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}

    <section class="principal principal-escuro">

        <div class="grid link-conteudo link-conteudo-escuro">
            <a target="_blank" href="{% url "frete:calculo-frete" %}">
                <div class="botao-div botao-escuro">Calculo de Frete</div>
            </a>
            <a target="_blank" href="{% url "home:consultoria-vendas" %}">
                <div class="botao-div botao-escuro">Calculos Quantificação</div>
            </a>
            <a target="_blank" href="{% url "home:tabela-precos" %}">
                <div class="botao-div botao-escuro">Tabela de Preços</div>
            </a>
            <a target="_blank" href="{% url "home:produtos-modelos" %}">
                <div class="botao-div botao-escuro">Matriz</div>
            </a>
            <a target="_blank" href="{% url "dashboards:analise-orcamentos" %}">
                <div class="botao-div botao-escuro">Analise de Itens de Orçamentos</div>
            </a>
        </div>

        <div class="link-conteudo link-conteudo-escuro">
            <div class="titulo">
                <h1>{{  titulo_pagina  }}</h1>
            </div>

            <form id="form" method="get">
                <div class="grid-simples link-conteudo link-conteudo-escuro">
                    {{ formulario.as_p }}
                </div>
                <div class="grid-simples">
                    <button class="botao botao-escuro" name="atualizar-submit" type="submit">Atualizar</button>
                </div>
            </form>
        </div>

        <div class="grid link-conteudo link-conteudo-escuro">
            <button class="botao botao-escuro" form="form" name="exportar-orcamentos-submit" type="submit">Exportar Orçamentos</button>
            <a target="_blank" href="{% url "dashboards:eventos-dia" %}{% if formulario.carteira.value %}?carteira={{ formulario.carteira.value }}{% endif %}">
                <div class="botao-div botao-escuro">Eventos</div>
            </a>
            <a target="_blank" href="{% url "dashboards:listagens" 'sumidos' %}{% if formulario.carteira.value %}?carteira={{ formulario.carteira.value }}{% endif %}">
                <div class="botao-div botao-escuro">Os Sumidos</div>
            </a>
            <a target="_blank" href="{% url "dashboards:listagens" 'presentes' %}{% if formulario.carteira.value %}?carteira={{ formulario.carteira.value }}{% endif %}">
                <div class="botao-div botao-escuro">Os Presentes</div>
            </a>
            <a target="_blank" href="{% url "dashboards:listagens" 'nuncamais' %}{% if formulario.carteira.value %}?carteira={{ formulario.carteira.value }}{% endif %}">
                <div class="botao-div botao-escuro">Os Nunca Mais</div>
            </a>
            <a target="_blank" href="{% url "dashboards:listagens" 'potenciais' %}{% if formulario.carteira.value %}?carteira={{ formulario.carteira.value }}{% endif %}">
                <div class="botao-div botao-escuro">Os Potenciais</div>
            </a>
        </div>

        <div class="link-conteudo link-conteudo-escuro">

            {% if erros %}
                <p>{{ erros }}</p>
            {% endif %}

            {% if dados %}

                <div class="grid">

                    <div class="moldura-verde-dashboard-2 principal-escuro-2 alinhar-topo" style="{% if dados.porcentagem_meta_mes >= 100 %}border:0.4rem solid var(--roxo-rentabilidade-2){% endif %}">
                        <div style="position: relative;">
                            <div class="centralizar fonte-muito-pequena-dashboard" style="width: 100%; position: absolute; z-index: 2;">
                                {{ dados.porcentagem_mc_mes | floatformat:"2" }}%
                            </div>
                            <div class="grafico-barra" style="position: relative; z-index: 1; --largura: {% if dados.porcentagem_meta_mes > 100 %}100{% else %}{{ dados.porcentagem_meta_mes }}{% endif %}%; --cor-barra: {% if dados.rentabilidade_pedidos_mes_rentabilidade_mes != 0 %}var({{ dados.cor_rentabilidade_css_mes }}){% else %}transparent{% endif %}"></div>
                        </div>
                        <div class="flex">
                            <div>
                                <p>Meta Mes</p>
                            </div>
                            <div>
                                <p>R$ {{ dados.pedidos_mes | floatformat:"2" }} / <span class="fonte-verde">R$ {{ dados.meta_mes | floatformat:"2" }}</span></p>
                            </div>
                            <div>
                                <p><span class="{% if dados.faltam_meta_mes > 0 %}fonte-vermelho{% else %}fonte-verde{% endif %}">(R$ {{ dados.faltam_meta_mes | floatformat:"2" }})</span> (Em dia <span class="{% if dados.meta_em_dia < 0 %}fonte-vermelho{% else %}fonte-verde{% endif %}">R$ {{ dados.meta_em_dia | floatformat:"2" }}</span>)</p>
                            </div>
                        </div>
                    </div>

                    <div class="moldura-verde-dashboard-2 principal-escuro-2 alinhar-topo" style="{% if dados.porcentagem_meta_dia >= 100 %}border:0.4rem solid var(--roxo-rentabilidade-2){% endif %}">
                        <div style="position: relative;">
                            <div class="centralizar fonte-muito-pequena-dashboard" style="width: 100%; position: absolute; z-index: 2;">
                                {{ dados.porcentagem_mc_dia | floatformat:"2" }}%
                            </div>
                            <div class="grafico-barra" style="position: relative; z-index: 1; --largura: {% if dados.porcentagem_meta_dia > 100 %}100{% else %}{{ dados.porcentagem_meta_dia }}{% endif %}%; --cor-barra: {% if dados.rentabilidade_pedidos_dia != 0 %}var({{ dados.cor_rentabilidade_css_dia }}){% else %}transparent{% endif %}"></div>
                        </div>
                        <div class="flex">
                            <div>
                                <p>Meta Dia</p>
                            </div>
                            <div>
                                <p>R$ {{ dados.pedidos_dia | floatformat:"2" }} / <span class="fonte-verde">R$ {{ dados.meta_diaria | floatformat:"2" }}</span></p>
                            </div>
                            <div>
                                <p><span class="{% if dados.faltam_meta_dia > 0 %}fonte-vermelho{% else %}fonte-verde{% endif %}">(R$ {{ dados.faltam_meta_dia | floatformat:"2" }})</span></p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="moldura-verde-dashboard grid principal-escuro-2">
                    <div>
                        <p class="fonte-verde">Conversão de Orç.*¹</p>
                        <p>{{ dados.conversao_de_orcamentos | floatformat:"2" }}%</p>
                    </div>
                    <div>
                        <p class="fonte-verde">Faltam Orç. Dia*²</p>
                        <p>R$ {{ dados.faltam_abrir_orcamentos_dia | floatformat:"2" }}</p>
                    </div>
                    <div>
                        <p class="fonte-verde">Media Dia*³</p>
                        <p>R$ {{ dados.media_dia_pedido_mes_entrega_mes_sem_hoje | floatformat:"2" }}</p>
                    </div>
                    <div>
                        <p class="fonte-verde">Recebido</p>
                        <p>R$ {{ dados.recebido | floatformat:"2" }}</p>
                    </div>
                    <div>
                        <p class="fonte-verde">A Receber</p>
                        <p>R$ {{ dados.a_receber | floatformat:"2" }}</p>
                    </div>
                </div>

                <div class="div-dashboard principal-escuro">
                    <p>Atualizado em: {{ dados.data_hora_atual }}</p>
                </div>
    
                <div class="div-dashboard principal-escuro">
                    <p class="fonte-muito-pequena-dashboard">Faltam R$ {{ dados.falta_mudar_cor_mes_valor | floatformat:"2" }} com margem de {{ dados.falta_mudar_cor_mes_valor_rentabilidade | floatformat:"2" }}% para {{ dados.falta_mudar_cor_mes_cor }} no mês. ({{ dados.falta_mudar_cor_mes_porcentagem | floatformat:"2" }})</p>
                    <p class="fonte-muito-pequena-dashboard">*¹ Ultimos 90 dias</p>
                    <p class="fonte-muito-pequena-dashboard">*² Novos orçs. para a meta do dia</p>
                    <p class="fonte-muito-pequena-dashboard">*³ Pedidos feitos no mes, exceto hoje</p>
                </div>

                {% if valores_periodo %}
                    <div class="moldura-verde-dashboard grid principal-claro">
                        <div>
                            <p class="fonte-cinza" style="background-color: var(--cinza-escuro);">Em Aberto</p>
                        </div>
                        <div>
                            <p class="fonte-cinza" style="background-color: black;">Perdido</p>
                        </div>
                        <div>
                            <p>Liquidado</p>
                        </div>
                        <div>
                            <p><span class="fonte-verde">O</span> - Oportunidade</p>
                        </div>
                    </div>

                    <div class="tabela-simples">
                        <table>
                            <tr class="principal-claro">
                                <th></th>
                                {% if not formulario.carteira.value %}<th>Carteira</th>{% endif %}
                                <th>Documento</th>
                                <th>Cliente</th>
                                <th></th>
                                <th>Data Emissão</th>
                                <th>Data Entrega</th>
                                <th>R$ Valor Mercadorias</th>
                                <th></th>
                            </tr>
                            {% for valor in valores_periodo %}
                                <tr class="{% cycle 'principal-azul-claro' 'principal-claro' %} {% if valor.VALOR_MERCADORIAS < 0 %}fonte-vermelho{% endif %}">
                                    <td 
                                        {% if valor.STATUS_DOCUMENTO == 'EM ABERTO' or valor.STATUS_DOCUMENTO == 'BLOQUEADO' %}style="background-color: var(--cinza-escuro);"{% endif %}
                                        {% if valor.STATUS_DOCUMENTO == 'PERDIDO' %}style="background-color: black;"{% endif %}
                                        class="fonte-verde"
                                    >{% if valor.OPORTUNIDADE == 'SIM' %}O{% endif %}</td>
                                    {% if not formulario.carteira.value %}<td>{{ valor.CARTEIRA }}</td>{% endif %}
                                    <td>{{ valor.DOCUMENTO | stringformat:"d" }}</td>
                                    <td>{{ valor.CLIENTE }}</td>
                                    <td>{% if valor.CHAVE_GRUPO_ECONOMICO %}<a target="_blank" href="{% url "analysis:grupo-economico" valor.CHAVE_GRUPO_ECONOMICO %}">𓃑</a>{% endif %}</td>
                                    <td>{{ valor.DATA_EMISSAO | date:"d/m/Y" }}</td>
                                    <td>{{ valor.DATA_ENTREGA | date:"d/m/Y" }}</td>
                                    <td>R$ {{ valor.VALOR_MERCADORIAS | floatformat:2 }}</td>
                                    <td class="fonte-cinza" style="background-color: var({{ valor.MC_COR | cor_rentabilidade_css }});"></td>
                                </tr>
                            {% endfor %}
                            <tr class="principal-claro">
                                <td></td>
                                {% if not formulario.carteira.value %}<td></td>{% endif %}
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="azul-negrito">Total</td>
                                <td class="azul-negrito">R$ {{ valor_total | floatformat:2 }}</td>
                                <td></td>
                            </tr>
                            {% if valor_devolucoes %}
                                <tr class="principal-claro">
                                    <td></td>
                                    {% if not formulario.carteira.value %}<td></td>{% endif %}
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td class="vermelho-negrito">Devoluções Subtraidas</td>
                                    <td class="vermelho-negrito">R$ {{ valor_devolucoes | floatformat:2 }}</td>
                                    <td></td>
                                </tr>
                            {% endif %}
                            {% if valor_liquidados %}
                                <tr class="principal-claro">
                                    <td></td>
                                    {% if not formulario.carteira.value %}<td></td>{% endif %}
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td class="azul-negrito">Liquidados</td>
                                    <td class="azul-negrito">R$ {{ valor_liquidados | floatformat:2 }}</td>
                                    <td></td>
                                </tr>
                            {% endif %}
                            {% if valor_perdidos %}
                                <tr class="principal-claro">
                                    <td></td>
                                    {% if not formulario.carteira.value %}<td></td>{% endif %}
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td class="azul-negrito">Perdidos</td>
                                    <td class="azul-negrito">R$ {{ valor_perdidos | floatformat:2 }}</td>
                                    <td></td>
                                </tr>
                            {% endif %}
                            {% if valor_em_abertos %}
                                <tr class="principal-claro">
                                    <td></td>
                                    {% if not formulario.carteira.value %}<td></td>{% endif %}
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td class="azul-negrito">Em Aberto</td>
                                    <td class="azul-negrito">R$ {{ valor_em_abertos | floatformat:2 }}</td>
                                    <td></td>
                                </tr>
                            {% endif %}
                            {% if valor_oportunidades_em_aberto %}
                                <tr class="principal-claro">
                                    <td></td>
                                    {% if not formulario.carteira.value %}<td></td>{% endif %}
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td class="azul-negrito">Oportunidades Em Aberto</td>
                                    <td class="azul-negrito">R$ {{ valor_oportunidades_em_aberto | floatformat:2 }}</td>
                                    <td></td>
                                </tr>
                            {% endif %}
                        </table>
                    </div>
                {% endif %}

            {% endif %}

        </div>

    </section>

{% endblock conteudo %}