{% extends "dashboards/base.html" %}

{% block conteudo %}

    <section class="principal">
        <p>Meta Diaria:</p>
        <p>R$ {{ dados.meta_diaria }}</p>
        <br>
        <p>Pedidos Fechados Dia:</p>
        <p>R$ {{ dados.pedidos_dia }}</p>
        <br>
        <p>Meta Diaria Realizada:</p>
        <p>{{ dados.porcentagem_meta_dia }}%</p>
        <br>
        <p>Faltam Meta Dia:</p>
        <p>R$ {{ dados.faltam_meta_dia }}</p>
        <br>
        <p>Taxa de Conversão de Orçamentos (ultimos 90 dias):</p>
        <p>{{ dados.conversao_de_orcamentos }}%</p>
        <br>
        <p>Faltam Orçamentos Dia:</p>
        <p>R$ {{ dados.faltam_abrir_orcamentos_dia }}</p>
        <br>
        <p>Meta Mes:</p>
        <p>R$ {{ dados.meta_mes }}</p>
        <br>
        <p>Pedidos Fechados Mes:</p>
        <p>R$ {{ dados.pedidos_mes }}</p>
        <br>
        <p>Meta Mes Realizada:</p>
        <p>{{ dados.porcentagem_meta_mes }}%</p>
        <br>
        <p>Faltam Meta Mes:</p>
        <p>R$ {{ dados.faltam_meta_mes }}</p>
    </section>

{% endblock conteudo %}