{% extends "dashboards/base.html" %}

{% block conteudo %}

    {% if dados.confere_pedidos %}
        <section class="principal principal-escuro">
            <div class="dashboard-vendas-conteudo dashboard-vendas-conteudo-escuro">
                <div class="moldura-vermelha-dashboard div-dashboard-erros">
                    <div class="div-dashboard">
                        <p class="fonte-vermelho">ERROS</p>
                    </div>
                    {% for pedido in dados.confere_pedidos %}
                        <p><span class="fonte-verde">{{ pedido.PEDIDO }} - {{ pedido.CONSULTOR }}</span> - {{ pedido.ERRO }}</p>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}

    <section class="principal">
        <div class="dashboard-vendas-conteudo">

            <div class="grid-dashboard-2">

                <div class="moldura-verde-dashboard grid-dashboard" style="{% if dados.porcentagem_meta_dia >= 100 %}border-color:var(--azul-escuro){% endif %}">

                    <div>
                        <div class="div-dashboard">
                            <p class="fonte-verde">Meta Diaria</p>
                            <p>R$ {{ dados.meta_diaria }}</p>
                        </div>

                        {% comment %} O estilo --largura-grafico:33rem não carrega direito no safari, usar em pixel ou script que reaplica depois de um timeout {% endcomment %}
                        <div 
                            class="pie animate no-round" 
                            style="--valor-pizza:{{ dados.porcentagem_meta_dia }};--largura-barra:3rem;--cor-barra:var({{ dados.cor_rentabilidade_css_dia }});--largura-grafico:33rem;--tamanho-fonte:8.5rem"
                        >
                        {{ dados.porcentagem_meta_dia }}%<br>
                        <p>R$ {{ dados.faltam_meta_dia }}<br><span class="fonte-verde">Faltam no dia</span></p>
                        </div>

                        <div class="div-dashboard">
                            <p class="fonte-verde">Pedidos Hoje</p>
                            <p>R$ {{ dados.pedidos_dia }}</p>
                        </div>
                    </div>

                    <div>
                        <div class="div-dashboard">
                            <p class="fonte-verde">Conversão de Orç.*</p>
                            <p>{{ dados.conversao_de_orcamentos }}%</p>
                            <p class="fonte-muito-pequena-dashboard">* Ultimos 90 dias</p>

                            <p class="fonte-verde">Faltam Orç. Dia**</p>
                            <p>R$ {{ dados.faltam_abrir_orcamentos_dia }}</p>
                            <p class="fonte-muito-pequena-dashboard">** Novos orçamentos para bater a meta do dia</p>
                        </div>
                    </div>

                </div>

                <div class="moldura-verde-dashboard grid-dashboard" style="{% if dados.porcentagem_meta_dia >= 100 %}border-color:var(--azul-escuro){% endif %}">

                    <div>
                        <div class="div-dashboard">
                            <p class="fonte-verde">Meta Mensal</p>
                            <p>R$ {{ dados.meta_mes }}</p>
                        </div>

                        {% comment %} O estilo --largura-grafico:33rem não carrega direito no safari, usar em pixel ou script que reaplica depois de um timeout {% endcomment %}
                        <div 
                            class="pie animate no-round" 
                            style="--valor-pizza:{{ dados.porcentagem_meta_mes }};--largura-barra:3rem;--cor-barra:var({{ dados.cor_rentabilidade_css_mes }});--largura-grafico:33rem;--tamanho-fonte:8.5rem"
                        >
                        {{ dados.porcentagem_meta_mes }}%<br>
                        <p>R$ {{ dados.faltam_meta_mes }}<br><span class="fonte-verde">Faltam no mês</span></p>
                        </div>

                        <div class="div-dashboard">
                            <p class="fonte-verde">Pedidos Mês</p>
                            <p>R$ {{ dados.pedidos_mes }}</p>
                        </div>
                    </div>

                </div>

                {% if dados.agenda_vec %}
                    <div class="moldura-verde-dashboard grid-dashboard grid-dashboard-largura-maxima">
                        {% for assistente_tecnico in dados.assistentes_tecnicos %}
                            <div class="div-dashboard-agenda">
                                <p class="fonte-verde">{{ assistente_tecnico.nome }}</p>
                                <div class="div-dashboard-agenda-dias">
                                    {% for agenda in dados.agenda_vec %}
                                        {% if assistente_tecnico == agenda.assistente_tecnico %}
                                                <p><span class="fonte-verde">{{ agenda.data | date:"d/m/Y" }} {{ agenda.data | date:"D" }}</span> {{ agenda.agenda }}</p>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

            </div>

            <div class="moldura-verde-dashboard div-dashboard">
                <p>Atualizado em: {{ dados.data_hora_atual }}</p>
            </div>

            <div class="div-dashboard">
                <p class="fonte-muito-pequena-dashboard">Faltam R$ {{ dados.falta_mudar_cor_mes_valor }} com margem de {{ dados.falta_mudar_cor_mes_valor_rentabilidade }}% para {{ dados.falta_mudar_cor_mes_cor }} no mês. ({{ dados.falta_mudar_cor_mes_porcentagem }})</p>
            </div>

        </div>

    </section>

    {% comment %} O estilo --largura-grafico:33rem não carrega direito no safari, usar em pixel ou script que reaplica depois de um timeout {% endcomment %}
    <script>
        setTimeout(function() {
            var elements = document.querySelectorAll('.pie');
            elements.forEach(function(element) {
                element.style.setProperty('--largura-grafico', '33.1rem');
            });
        }, 2000); // Delay for 1000 milliseconds = 1 second, tempo 100 milesegundos a mais que o definido na animação do grafico no css
    </script>
    
{% endblock conteudo %}